	@font-face {
    font-family: "Century Gothic";
    src: url('../fonts/CenturyGothic/CenturyGothic.eot');
    src: url('../fonts/CenturyGothic/CenturyGothic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CenturyGothic/CenturyGothic.woff2') format('woff2'),
        url('../fonts/CenturyGothic/CenturyGothic.woff') format('woff'),
        url('../fonts/CenturyGothic/CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	}
	html{		
		scroll-behavior: smooth;		
	}
	body{					
		background: #fff;
		font-family: "Century Gothic", sans-serif;
		font-weight: 400;
		color: #000;		
	}
	a,a:hover,a:active,a:focus{
		color: #fff;
    	text-decoration: none;
	}
	:before,
	:after{
		content: "";
		position: absolute;
	}
	ul{
		list-style: none;
	}
/*header*/
	header{		
		background: #000;
		position: relative;
		padding: 7px 0 0 0;
	}
	header:before{		
		background: url(../img/bg-header.png) no-repeat 50%/cover;		
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}	
	.logo{
		padding: 9px 20px 6px 0; 
	}
	.language{
		padding-left: 20px;
	}
	.lang-select,
	.nav-link-menu{
		display: flex;
		justify-content: center;
    	align-items: center;
	}
	.lang-select{		
		width: 67px;
		height: 35px;
		color: #fff;		
		font-size: 16px;		
		padding: 0;	
	}
	.lang-select:hover,
	.lang-select-active{
		color: #fcc721;
	}
	.basket{
		width: 272px;
		height: 59px;    	
		border: 1px solid #111;		
		border-radius: 0;
		padding: 0 0 0 18px;
		margin: 1px 0 0 -1px; 		
	}
	.basket:hover,
	.basket:active,
	.basket:focus{
		background: 0;
		box-shadow: none;		
	}	
	.icon-basket,
	.icon-mail,
	.icon-tel{
		position: relative;		
		width: 37px;
		height: 37px;
		border-radius: 50%;
		margin: 0 10px 0 0;  
		background-color: #fbc620;
	}
	.icon-basket:after,
	.aside-icon:after,
	.icon-mail:after,
	.icon-tel:after{		
		background: url(../img/icons-sprites.png) -5px -51px;
		width: 17px;
		height: 17px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.basket-item,
	.basket-item>span{
		color: #fbc620;
		font-size: 18px;		
	}
	.basket-item{
		font-weight: 700;
	}
	.navbar-dark{
		margin: 7px 0 0 0;
		background: #111;
	}	
	.navbar-nav,
	.nav-link-menu{
		border-left: .5px solid #000;
		border-right: .5px solid #000;
	}		
	.nav-link-menu{
		height: 58px;		
    	color: #fff;
		font-size: 18px;
		font-weight: 700;
		line-height: 6px;		 		
		text-transform: uppercase;			
	}	
	.nav-link-menu:hover,	
	.nav-link-menu-active{
		background: #fbc620;
		color: #000;
	}
	.navbar-dark .navbar-toggler{
		margin: 5px 15px;
		border: 0;
		outline: 0;
		height: 45px;
	  	width: 67px;
	  	position: relative;
	  	background: none;
	}
	.hamberger-icon{
  	    height: 5px;
  	    width: 50px;
  	    position: absolute;
  	    top: 50%;
  	    left: 50%;
  	    border-radius: 50px;
  	    background: rgba(251, 198, 32, .8);
  	    transform: translate(-50%, -50%) rotate(0deg);
  	    transition: all ease .5s;
	}
	.hamberger-icon:hover{
		 background: rgba(251, 198, 32, 1);
	}
	.hamberger-icon:before, .hamberger-icon:after{
  		height: inherit;
  		border-radius: inherit;
  		background-color: inherit;
  		margin: auto;
  		width: 50%;
  		transition: all ease .5s;
	}
	.hamberger-icon:before{
  		top: -13px;
  		left: 0;
  		transform-origin: left;
	}
	.hamberger-icon:after{
  		bottom: -13px;
  		right: 0;
  		transform-origin: right;
	}
	.open{
  		transform: translate(-50%, -50%) rotate(135deg);
	}
	.open:before{
  		top: 0;
  		transform: translateX(100%) rotate(-90deg);
	}
	.open:after{
  		bottom: 0;
  		transform: translateX(-100%) rotate(-90deg);
	}
	@media (max-width: 991px){
		.navbar-nav,
		.nav-link-menu{		
			border: 0;
		}					
		.nav-link-menu{
			height: 28px;
			margin: 5px 15px;
			font-size: 14px;				
		}
		.sight-line-upright{			
			width: 119px;
			height: 119px;	
			border-radius: 50%;				
			right: 155px;
			bottom: 262px;
			position: absolute;
		}
	}
/*#tabs*/	
	.nav-tabs{
		padding: 20px 0 0 0;
		background: #000;				
		border: 0;			
	}
	.nav-link-tab{
		height: 45px;		
		margin: 0 8px;
		padding: 0px 20px;
		color: #fbc620;
		font-size: 24px;				
		text-transform: uppercase;
		border: 1px solid #fbc620;
		border-bottom: 0;
		box-sizing: border-box;	
	}
	.nav-link-tab:hover,
	.nav-link-tab:focus{
		color: #fbc620;
		border: 1px solid #fbc620;
		border-bottom: 0;
	}
	.nav-tabs :nth-child(2)>.nav-link-tab{
		color: #3f8db9;
		padding: 0 20px 0 21px;
		border: 1px solid rgba(63, 141, 185, .1);
		border-bottom: 0;
	}
	.nav-tabs :nth-child(2)>.nav-link-tab:hover,
	.nav-tabs :nth-child(2)>.nav-link-tab:focus{
		border: 1px solid rgba(63, 141, 185, 1);
		border-bottom: 0;
	}
	.nav-tabs :nth-child(3)>.nav-link-tab{
		color: #696969;
		padding: 0 20px 0 21px;
		border: 1px solid rgba(105, 105, 105, .1);
		border-bottom: 0;
	}
	.nav-tabs :nth-child(3)>.nav-link-tab:hover,
	.nav-tabs :nth-child(3)>.nav-link-tab:focus{
		border: 1px solid rgba(105, 105, 105, 1);
		border-bottom: 0;
	}
	#tactical{
		position: relative;		
		background: #fbc620;		
	}
	#tactical:before,
	#highland:before,
	#simple:before{		
		background: url(../img/bg-tabs.png) no-repeat 50%/cover;		
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}	
	.tab-item{
		height: 723px;	
	}
	h2{
		color: #000;
		font-size: 44px;
		line-height: 44px;
		font-weight: 700;
		margin: 0 0 31px 0;				
		text-transform: uppercase;
	}
	.specification{
		color: #fff;
		font-size: 34px;
		font-weight: 400;
		letter-spacing: .5px;				
		text-transform: uppercase;
		margin: 0 0 0 0; 
	}
	.tab-item-text,
	.tab-item-text>span,
	label{		
		font-family: "Open Sans", sans-serif;
		font-size: 16px;		
		line-height: 22px;
		text-transform: uppercase;
		white-space: pre-line;			
	}
	.tab-item-text{
		letter-spacing: -.29px;
		margin: 0 0 34px 0; 
	}
	.tab-item-text>span{
		font-weight: 700;
	}
	label{
		cursor: pointer;	
		text-transform: none;	
		font-weight: 700;
	}	
	.check-list{
		list-style: none;
		margin: 0;
		padding: 0;  
	}	
	input[type="checkbox"]{
		display: none;
	}
	input[type="checkbox"]+label{
		display: flex;				
		align-items: center;
		padding: 0 0 0 50px;
		margin-bottom: 20px; 
		min-height: 28px;
		letter-spacing: .5px;		
		position: relative;
	}
	input[type="checkbox"]+label:before{		
		width: 28px;
		height: 28px;
		left: 0;
		top: 0;
		border: 1px solid #fff;
		
	}
	input[type="checkbox"]+label:after{		
		width: 38px;
		height: 36px;
		left: 0;
		top: -11px;
		transform: scale(0);
		opacity: 0;
		transition: all .3s ease;
		background: url(../img/icons-sprites.png) -5px -5px;		
	
	}
	input[type="checkbox"]:checked+label:after{
		transform: scale(1);
		opacity: 1;
	}
	.go-to-catalog{
		margin-top: 52px;
		overflow-y: hidden;		
		font-size: 0;
	}
	.go-to-catalog>span>a{					
		height: 100%;
		color: #000;
		display: inline-block;
		position: relative;		
		border-bottom: 5px solid #fff;		
		font-size: 14px;
		box-sizing: border-box;		
		margin: 0;		
		padding: 2px 12px 0 1px;			
		text-transform: uppercase;
	}	
	.go-to-catalog>span>a:hover,
	#slider .go-to-catalog>span>a:hover{
		color: #fff;
	}	
	.go-to-catalog>span{				
		height: 28px;		
		display: inline-block;
		position: relative;
		transform: translateX(-100%);
				
	}
	.go-to-catalog>span:hover{
		transform: translateX(0);
		transition: transform .5s ease;
	}
	.go-to-catalog>span:hover:before{
		left: 100%;
		bottom: 0;
		width: 6px;
		height: 5px;
		background: #fff;
	}	
	.go-to-catalog>span:after{		
		left: 100%;
		bottom: 0;		
	    width: 26px;
	    height: 26px;
	    transform-origin: left bottom;
	    transform: rotate(-45deg) translate(-1px, 5px);
	    border: 5px solid #fff;
	    border-top: none;
	    border-left: none;
	}
	.soldier-lg{
		position: absolute;
		left: 4px;
		bottom: 0;
	}
	.soldier-md{
		position: absolute;
		right: -5px;
		bottom: 109px;				
	}		
	.zoom-in{		
		background: url(../img/bg-zoom.jpg) no-repeat 50%/cover;
		display: block;	
		width: 219px;
		height: 219px;					
		border-radius: 50%;
		position: relative;			
	}
	.zoom-in:before{
		top: 26%;	    
	    left: 95%;
	    width: 72%;
	    height: 1px;
	    background: #fff;
	    transform-origin: left;
	    transform: rotate(-29deg);		
	}
	.line-left,
	.sight-line-aflat{
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;		
	}
	.line-left:before{
		top: 40%;
	    right: 99%;
	    width: 87%;
	    height: 1px;
	    background: #fff;
	    transform-origin: right;
	    transform: rotate(18deg);
	} 
	.sight-line-upright{			
		width: 219px;
		height: 219px;	
		border-radius: 50%;				
		right: 156px;
		bottom: 259px;
	}
	@media (max-width: 991px){
		.soldier-md{
			right: 0;		
			bottom: 75px;				
		}
		.soldier-lg{		
			left: auto;
			right: -30px;		
		}	
		.sight-line-upright,
		.zoom-in{		
			width: 187px;
			height: 187px;				
		}
		.sight-line-upright{
			right: 262px;
		}
		.zoom-in:before{
			width: 90%;
			transform: rotate(-15deg);
		}
		#tactical .soldier-md{
			transform: scaleX(-1);
		}
		#highland .sight-line-upright,
		#simple .sight-line-upright{
			right: 155px;
		}
		#highland .zoom-in:before,
		#simple .zoom-in:before{		
	    	transform: rotate(-25deg);		
		}
		#how-do-we-work .specification {    
		    margin: 60px 0 0 0;		   
		}
		#how-do-we-work .work-text{
			margin: 0;
			padding-right: 10px;		 
		}
		#how-do-we-work .number{		
			padding: 0 15px 30px;		
		}
		footer .contacts>ul>li+li{		
			font-size: 19px;					
    	}
      	footer .contacts>ul>li>span{		
			font-size: 23px;		
    	}

	}
	@media (max-width: 468px){
		aside{		
			right: 10px;						
	    }
		.aside-element .aside-item-text{
			font-size: 12px;
	    }
		.aside-element:nth-child(2) .aside-item-text{
			font-size: 10px;
	    }
	    #how-do-we-work .photo-edge{
	    	margin: 23px;
	    }
	}
	.sight-line-upright:before{				
		background: #111;
		width: 1.5px;	
		left: 50%;
		transform: translateX(-50%); 
		top: -31.5%;
		bottom: -31.5%;
	}
	.sight-line-upright:after{
		top: -5px;
		bottom: -5px;
		left: -5px;
		right: -5px;
		border-radius: 50%;
		border: 5px solid #fdf8e8;
	}	
	.sight-line-aflat:before{				
		background: #111;
		height: 1.5px;	
		top: 50%;
		transform: translateY(-50%); 
		left: -31.5%;
		right: -31.5%;		
	}
	.sight-line-aflat:after{		
		top: -26px;
		bottom: -26px;
		left: -26px;
		right: -26px;		
		border: 1px solid #111;
		border-radius: 50%; 
	}	
	.magnifier,
	.cursorshade{
		border-radius: 50%;		
		background: rgb(255, 255, 255);	
	}
	.cursorshade:before{		
		top: -15%;
		bottom: -15%;
		left: 50%;
		transform: translateX(-50%);
		width: 1.5px;
		background: #000;		
	}
	.cursorshade:after{		
		left: -15%;
		right: -15%;
		top: 50%;
		transform: translateY(-50%);
		height: 1.5px;
		background: #000;
	}
	aside{		
		position: absolute;
		right: 3px;
		top: -6px;
		z-index: 5;				
	}
	aside>.aside-element{
		display: flex;		
		flex-direction: row-reverse;
		margin: 0 0 10px 0;
	}
	.aside-item{
		transform: translateX(14px);
		overflow: hidden;		
		width: 0;
	}
	.aside-element:hover .aside-item{
		width: auto;
	}	
	.aside-item-text{
		display: flex;
		align-items: center;					
		height: 37px;
		overflow: hidden;
		padding: 0 25px 0 10px;		
		font-size: 16px;			
		background: #111;		
		color: #fbc620;		
		transform: translateX(100%);		
		transition: transform .5s ease; 					
	}
	.aside-element:hover .aside-item-text{		
		transform: translateX(0);					 
	}
	.aside-item-text:hover,
	#highland .aside-item-text:hover,
	#simple .aside-item-text:hover{
		color: #fff;
	}
	.aside-icon{
		position: relative;
		width: 37px;
		height: 37px;
		border-radius: 50%;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
		background: #fbc620;
		z-index: 5;
		transition: background .3s ease;
	}
	.aside-element:nth-child(1) .aside-icon:after{
		background: url(../img/icons-sprites.png) -52px -5px;
	}
	.aside-element:nth-child(2) .aside-icon:after{
		background: url(../img/icons-sprites.png) -30px -51px;
	}
	.aside-element:nth-child(3) .aside-icon:after{
		background: url(../img/icons-sprites.png) -78px -2px;
	}	
	.aside-element:hover .aside-icon,
	#highland .aside-element:hover .aside-icon,
	#simple .aside-element:hover .aside-icon{
		background: #fff;
	}
	#highland{
		position: relative;		
		background: #3f8db9;		
	}
	#highland .aside-icon{
		background: #3f8db9;
	}
	#highland .aside-item-text{
		color: #3f8db9;
	}
	#simple{
		position: relative;		
		background: #696969;
	}
	#simple .aside-icon{
		background: #696969;
	}
	#simple .aside-item-text{
		color: #696969;
	}
/*#slider*/
	#slider{
		position: relative;		
		background: #000;		
	}
	#slider:before{		
		background: url(../img/bg-slider.png) no-repeat 50%/cover;		
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	#swiper-container-one{
		min-height: 636px;
		padding: 54px 0;
	}
	#swiper-pagination-one,
	.line-decor{
		position: relative;	
		display: flex;
		align-items: flex-end;
		justify-content: center;
		height: 1px;
		background: #111;
		margin: 24px 0 14px 0;  
	}	
	#swiper-pagination-one .swiper-pagination-bullet,
	.line-decor>span{
		width: 77px;
		height: 5px;
		background-color: #111;
		border-radius: 0;
		margin: 0;
		opacity: 0;
	}
	#swiper-pagination-one .swiper-pagination-bullet-active{
		background: #fbc620;;
		opacity: 1;
	}
	#swiper-button-next-one{
		width: 60px;
		height: 60px;
		background: 0;
		border-right: 1px solid #202020;
		border-bottom: 1px solid #202020;
		right: 14px;
		left: auto;		
		transform: rotate(-45deg);		
	}	
	#swiper-button-prev-one{
		width: 60px;
		height: 60px;
		background: 0;
		border-top: 1px solid #202020;
		border-left: 1px solid #202020;		
		right: auto;
		left: 14px;
		transform: rotate(-45deg);
	}	
	#swiper-button-next-one:hover,
	#swiper-button-next-one:active,
	#swiper-button-next-one:focus{
		border-right: 1px solid #fff;
		border-bottom: 1px solid #fff; 
	}
	#swiper-button-prev-one:hover,
	#swiper-button-prev-one:active,
	#swiper-button-prev-one:focus{
		border-top: 1px solid #fff;
		border-left: 1px solid #fff;
	}
	.slide-item{
		padding: 0 0 0 2px;
	}
	#slider h2{
		color: #fff;
		text-align: center;		  
	}
	.specification>span{
		color: #fbc620;
		font-weight: 700;
	}
	.slide-item-text{
		color: #fff;
		font-family: "Open Sans", sans-serif;
		font-size: 18px;		
		line-height: 24px;
		letter-spacing: .5px;
		margin: 22px 0 29px 0;
	}
	.plus{
		color: #fff;
		font-family: "Open Sans", sans-serif;
		font-size: 18px;
		letter-spacing: .5px;
		margin: 0 0 25px 0; 
	}
	.plus>span,
	.available{
		color: #fbc620;
		font-family: "Century Gothic";
		font-size: 20px;
		text-transform: uppercase;
	}	
	#slider .go-to-catalog>span>a{	
		color: #fbc620;				
		border-bottom: 5px solid #fbc620;						
	}
	#slider .go-to-catalog>span:hover:before{
		background: #fbc620;
	}
	#slider .go-to-catalog>span:after{		
	    border: 5px solid #fbc620;
	    border-top: none;
	    border-left: none;
	}
	.available-select{
		font-size: 0;
		margin: 3px 0 41px 0;		
	}
	.available-select>li{
		position: relative;		
		
		margin: 10px 10px 10px 0;		
		border-radius: 50%;
		overflow: hidden; 
	}	
/*#how-do-we-work*/
	#how-do-we-work{		
		padding: 55px 0 0 0;
		text-align: center; 
	}
	#how-do-we-work h2{
		margin-bottom: 0;
	}
	.line-decor{
		background: #fbc620;
		margin: 19px 0 0px 0;
	}
	.line-decor>span{
		opacity: 1;
		background: #fbc620;
	}
	.work-item-one{
		min-height: 759px; 
		margin: 84px auto 0;
		padding: 118px 0 60px 0; 				 
	}
	.work-item-two,
	.work-item-three{
		min-height: 960px;
		/*margin: 0 auto;*/
		padding: 201px 0 124px 0;
	}
	.work-photo{
		align-items: center;
		position: static;	
		border-radius: 50%;		
		border: 1px solid #fbc620;		
	}
	.up-line:before,
	#swiper-container-two .up-line:before{			
		width: 1px;
		background: #fbc620;
		top: -97px;
		bottom: -100px;		
		left: 50.5%;		
	}
	.work-item-two .up-line:before,
	#swiper-container-two .work-item-two .up-line:before{				
		left: 50%;		
	}
	.work-item-one .up-line:before{
		top: -25px;
	}
	.center-line{
		position: absolute;		
		left: 0;
		right: 0;
		height: 2px;
		background: #fbc620;
	}
	.photo-edge{		
		display: inline-block;
		position: relative;
		border: 5px solid #000;
		border-radius: 50%;
		margin: 46px 38px 33px 46px;
		overflow: hidden;
		z-index: 5;
	}
	.work-item-two .photo-edge{
		margin: 43px 43px 33px 43px;
	}
	.work-item-three .photo-edge{
		margin: 43px 39px 36px 48px;
	}	
	.number{
		color: #000;
		text-align: right;		
		font-size: 34px;
		padding: 0 35px 17px 0;
		font-weight: 700;		
		text-transform: uppercase;
	}
	.work-item-two .number{
		padding-right: 37px;
	}	
	#how-do-we-work .specification{
		color: #000;
		text-align: left;		
		padding: 0 0 16px 46px;
	}
	.work-text{
		margin: 280px 0 0 0;
    	padding: 40px 0 0 48px; 
	}
	.work-item-three .work-text,
	#swiper-container-two .work-item-two .work-text{
		padding-top: 34px;
	}
	#how-do-we-work input[type="checkbox"]+label:before {    
    	border: 1px solid #fbc620;    
	}
	#how-do-we-work input[type="checkbox"]+label{
		padding: 6px 0 0 49px;
    	letter-spacing: .4px;
		text-align: left;    
    	font-weight: 400;
    	margin: 0 0 20px 0;
	}
	#how-do-we-work .work-item-two input[type="checkbox"]+label{
		padding: 2px 0 0 50px;
	    letter-spacing: .7px;    
	    margin: 5px 0 27px 0;
	}
	#how-do-we-work .work-item-three input[type="checkbox"]+label{		
	    letter-spacing: .2px;	    
	}				
	.wrap-color-work-item{
		background: #f2f2f2;
	}
	@media (max-width: 767px){
		.work-text{
			margin: 65px 0 0 0;
			padding-left: 45px;  
		}
		#how-do-we-work .work-item-two .number{
			padding: 0 0 30px 0;
			margin-right: -10px;
		}
		.work-item-two .number{
			text-align: left;
		}
		#how-do-we-work #swiper-pagination-two .swiper-pagination-bullet-active{
			transform: scale(.6);
		}
		#how-do-we-work #swiper-pagination-two .swiper-pagination-bullet-active{
			transform: scale(.9);
		}
		footer .contacts>ul>li+li{		
			padding-left: 40px;					
    	}
		footer .address{
    		padding: 10px 0 0 2px;
    	}
    	footer  .address>ul>li:nth-child(1){    	
    		margin-bottom: 20px; 
    	} 	
	}	
	#swiper-pagination-two .swiper-pagination-bullet{
	    width: 44px;
	    height: 44px;
	    position: relative;
	    background: none;
	    border: 2px solid #000; 
	    font-family: "Century Gothic";
	    font-size: 29px;
	    line-height: 39px;
	    padding: 0 6px 0 0;
	    text-align: right;	   	  
	    opacity: .8;
	    margin: 10px 15px;
	    font-weight: 700;
	    transition: all .5s cubic-bezier(0.13, -0.57, 1, 2.07);
		text-transform: uppercase;
	}
	#swiper-pagination-two .swiper-pagination-bullet:before{		
		width: 1.5px;
		top: -15px;
		bottom: -8px;
		left: 50%;
		transform: translateX(-50%);		
		background: linear-gradient(to top, #000 20%, transparent 20%, transparent 67%, #000 67%);
	}
	#swiper-pagination-two .swiper-pagination-bullet:after{
		height: 1.5px;
		right: -15px;
		left: -8px;
		top: 50%;
		transform: translateY(-50%);
		background: linear-gradient(to right, #000 30%, transparent 30%, transparent 67%, #000 67%);
	}
	#swiper-pagination-two .swiper-pagination-bullet-active{
		opacity: 1;
		padding: 0;
		transform: scale(1.3);	
		text-align: center;
		box-shadow: inset 1px 0px 1px 0px #000;
	}
/*#dealers*/
	#dealers{
		background: #1e1e1e;
		text-align: center;
		padding: 52px 0 0 0;
	}
	#dealers>h2{
		color: #fff;
		margin-bottom: 19px;
	}
	#dealers .line-decor{
		background: #555;
		margin: 0;
	}
	#dealers .line-decor>span{
		background: #555;
	}
	#map{
		height: 550px;
	}
	.gm-style-mtc>div,
	.gmnoprint>div,
	.gm-svpc,
	.gm-control-active,
	.gm-fullscreen-control{
		display: none;
	}  
/*footer*/
    footer{
    	min-height: 180px;
    	background: #000;
    	position: relative;
    	padding: 0 0 20px 0;
    }
    footer:before{
    	background: url(../img/bg-footer.png) no-repeat 50%/cover;		
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
    }
    footer .logo{
    	margin: 40px 0 0 0;
    }    
	.address{
    	padding: 22px 0 0 47px;
    }
    .icon-mail{
    	margin-right: 11px;
    }
    .icon-mail:after{
    	background: url(../img/icons-sprites.png) -78px -2px;
    }
    .mail-text{    	
    	color: #fcc721;		
		font-size: 16px;
    }
    .mail-text:hover{
    	color: #fff;
    }
    .address>ul>li:nth-child(1){
    	height: 37px;
    	margin-bottom: 44px; 
    }
    .address>ul>li:nth-child(2){
		color: #fff;
		font-size: 16px;
    }
    .address>ul>li:nth-child(3){
		color: #fbc620;
		font-size: 20px;
    }
    .contacts{
		padding: 26px 0 0 11px;
    }     
    .icon-tel:after{
    	background: url(../img/icons-sprites.png) -52px -5px;
    }
    .tel-text{
    	color: #fff;
		font-size: 16px;
		padding-bottom: 4px;
    	letter-spacing: .1px;
    }
    .tel-text:hover{
    	color: #fcc721;
    }
    .contacts>ul>li:first-child{
    	height: 37px;
    	margin-bottom: 6px; 
    }  
    .contacts>ul>li+li{
		color: #fff;
		font-size: 24px;
		text-transform: uppercase;
    }
    .contacts>ul>li>span{
		color: #fcc721;
		font-size: 34px;
		line-height: 45px;
		font-weight: 700;
    }
    
	


  




				      	 
				      	 
