


$font-basic: 'Lato', sans-serif;
$font-light: 'Lato Light', sans-serif;
$font-thin: 'Lato Thin', sans-serif;
$font-black: 'Lato Black', sans-serif;
$font-second: 'Myriad Pro', sans-serif;



//border-redius//
$border-radius-main: 10px;
$radius-7: 7px;

//font-size//
$size-11: 11px;
$size-12: 12px;
$size-13: 13px;  
$size-14: 14px;
$size-16: 16px;
$size-17: 17px;
$size-18: 18px;
$size-20: 20px;
$size-22: 22px;
$size-24: 24px;
$size-26: 26px;
$size-28: 28px;
$size-30: 30px;
$size-32: 32px;
$size-38: 38px;
$size-48: 48px;

//line-height//
$line-15: 15px;
$line-17: 17px;
$line-18: 18px;
$line-19: 19px;
$line-20: 20px;
$line-22: 22px;
$line-24: 24px;
$line-25: 25px;
$line-27: 27px;
$line-30: 30px;
$line-32: 32px;
$line-33: 33px;
$line-36: 36px;

//font-weight//
$thin				     : 100;
$lighter				 : 200;
$light				     : 300;
$normal				     : 400;
$semibold				 : 500;
$bold					 : 600;
$bolder                  : 700;
$boldest				 : 800;
$super-bold				 : 900;	




 	////$mainFontColor           : #101010;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #fff;
$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fe2232;
$warning-color           : #fed330;
$purple-color            : #8854d0;
$light-color-1           : #fdfdfd;
$light-color-2           : #f7f7f7;
$light-color-3           : #f8f8f8;
$light-color-4           : #f4f4f4;
$dark-color-1            : #d0d0d0;
$dark-color-2            : #b9b9b9;
$dark-color-3            : #646464;
$dark-color-4            : #969696;
$dark-color-5            : #36393b;
$dark-color-6            : #333;
$dark-color-7            : #a8a8a8;
$dark-color-8            : #a7a7a7;
$dark-color-9            : #d8d7d7;
$dark-color-10           : #bdbdbd;
$dark-color-11           : #e4e4e4;
$dark-color-12           : #3e3e3e;
$dark-color-13           : #b3b3b3;
$dark-color-14           : #8e9498;
$dark-color-15           : #252424;
$dark-color-16           : #696969;
$black-color			 : #000; 	

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC	