


$font-basic: 'Roboto Regular', sans-serif;


//color//
$basic-text              : #000;
$accent-blue			 : #385898;
$accent			         : #2B742A;
$header_footer-bg        : #014359;
$health-list             : #2A6174;
$doctor-link             : #2A6174;
$important               : #FF0000;
$order-now-border        : #D70001;
$btn-discont             : #FFFF95;
$btn-order-now           : #2A6174;
$comment-border          : #979797;
$comment-signature       : #385898;
$commrnt-sign_circle     : #757575;
$commet-bg               : #F2F3F5;
$input-text              : #777;
$btn-form                : #2A6174;
$sidebar-input-border    : #014359;
$sidebar-text            : #5A5A5A;
$try-now__head           : #014359;




$link                    : #407fff;
$num-comment             : #757575;
$border-post             : #DBDBDB;
$head-comment            : #D5E4E7;
$social-text			 : #5A5A5A;
$social-date             : #B0B0B0;
$social-comment          : #0055FF;
$aside-title-bg          : #D5E4E7;

$white                   : #fff;
$black                   : #000; 











//font-size
$header-title            : 48px;
$header-title-md         : 40px;
$content-title           : 24px;
$sidebar-title           : 25px;
$discount-link           : 25px;
$btn-try-now             : 25px;
$font-xl                 : 27px;
$font-lg 				 : 22px;
$font-md                 : 20px;
$font-sm                 : 18px;
$font-xs                 : 16px;
$font-2xs                : 15px;	
$font-3xs                : 12px;
$font-4xs                : 10px;









//font-weght
$normal					 : 400;
$semi-bold_1             : 500;
$semi-bold_2             : 550;
$semi-bold_3             : 600;
$bold               	 : 700;
$bolder               	 : 800;
$extaBold                : 700;

//border-radius
$comment-radius          : 45px;
$btn-link                : 20px;
$content-border-r        : 20px;






 		