

@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/exo2-regular/exo2-regular.eot');
    src: url('../fonts/exo2-regular/exo2-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2-regular/exo2-regular.woff2') format('woff2'),
         url('../fonts/exo2-regular/exo2-regular.woff') format('woff'),
         url('../fonts/exo2-regular/exo2-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Odibee Sans';
    src: url('../fonts/odibeesans-regular/odibeesans-regular.eot');
    src: url('../fonts/odibeesans-regular/odibeesans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/odibeesans-regular/odibeesans-regular.woff2') format('woff2'),
         url('../fonts/odibeesans-regular/odibeesans-regular.woff') format('woff'),
         url('../fonts/odibeesans-regular/odibeesans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}