


$font-basic: 'Exo 2', sans-serif;
$font-second: 'Odibee Sans', sans-serif;


//border-redius//
$border-radius-main: 10px;
$radius-7: 7px;

//font-size//
$size-10: 10px;
$size-11: 11px;
$size-12: 12px; 
$size-14: 14px;
$size-16: 16px;
$size-17: 17px;
$size-18: 18px;
$size-20: 20px;
$size-22: 22px;
$size-24: 24px;
$size-26: 26px;
$size-28: 28px;
$size-30: 30px;

//line-height//
$line-17: 17px;
$line-19: 19px;
$line-24: 24px;
$line-25: 25px;
$line-27: 27px;
$line-30: 30px;
$line-33: 33px;

//font-weight//
$thin				     : 100;
$lighter				 : 200;
$light				     : 300;
$normal				     : 400;
$semibold				 : 500;
$bold					 : 600;
$bolder                  : 700;
$boldest				 : 800;
$super-bold				 : 900;	

//color//
$white					 : #fff;
$white-1                 : #f1f1f1;
$green                   : #99cc33;
$blue                    : #003399;
$blue-1                  : #99ccff;
$blue-2                  : #699; 
$violet                  : #9999cc;
$violet-1                : #c1bfe2;
$violet-2                : #ccf;
$grey                    : #cbcbcb;
$grey-1					 : #808080; 
$black					 : #000;
$black-1				 : #040404;






 		