@import "./utils/mixnis";
@import "./utils/vars";
@import "./utils/fonts";


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  scroll-behavior: smooth;
}


ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

a {	
	
	cursor: pointer;	
	&:hover, &:active{
		text-decoration: none;
	}
}

button {
	cursor: pointer;
	&:focus {
    border: none;
	  outline: none;
	}
}

input {
  &:focus {
    border: 1px solid $black; 
  }
  &:focus::-webkit-input-placeholder {
    opacity: 0; 
    transition: opacity .3s ease;
  }
  &:focus::-moz-placeholder {
    opacity: 0; 
    transition: opacity .3s ease;
  }       
  &:focus:-moz-placeholder {
    opacity: 0; 
    transition: opacity .3s ease;
  }         
  &:focus:-ms-input-placeholder {
    opacity: 0; 
    transition: opacity .3s ease;
  }
}

body,
html {
  overflow-x: hidden
}

body {
    font-family: $font-basic;
    background: url("../img/body-bg.jpg") repeat 0/contain;    
    background-attachment: fixed;
    margin: 0 auto;
    font-weight: $normal;
    color: $basic-text;
    line-height: 1;    
}



.img-fluid {
    max-width: 100%;
    height: auto;
}

.upper-text {
  text-transform: uppercase;
}

.text-left {
  text-align: left;
}

.text-bold {
  font-weight: $bold;
}

.pre-line-text {
  white-space: pre-line;
  @media screen and (max-width: 1140px) {
    white-space: normal;
  }

}

.link {
  color: $accent-blue;
  text-decoration: underline;
  &:hover, &:active {
    text-decoration: underline;
    color: rgba($accent-blue, .8);
  }
}

.row {
    width: 100%;
    max-width: 1214px;
    margin: 0 auto;
}


// HEADER===========>\\

 header {
   width: 100%;
   text-align: center;
   padding: 44px 0 35px 0;
   @media (max-width: 1200px) {
     .navbar-nav {
       padding: 0;
       justify-content: space-around;
       .nav__item {
         margin: 0;
       }
     }
   }
 
   @media (max-width: 991px) {
     padding: 25px 0 0;
     .header__title {
       font-size: $header-title-md;
     }
     .navbar-nav {
       display: none;
     }
   }
 
   @media (max-width: 576px) {
     .header__title {
      font-size: $font-xl;
     }
   }
 }
 
 .header__title {
   font-weight: $extaBold;
   font-size: $header-title;
   line-height: 135.19%;
   text-align: center;   
   color: $black;
   margin-bottom: 30px;
 }
 
 .navbar-nav {
   display: flex;
   justify-content: start;
   padding-left: 20%;
 }
 
 .nav__item {
   margin-right: 42px;
 }
 
 .nav__link {
   font-weight: $normal;
   font-size: $nav-link ;
   line-height: 135.19%;
   text-align: center;
   text-decoration: none;
   padding: 10px;
   color: $basic-text;
   text-transform: uppercase;
   &:hover, &:active {
     color: rgba($basic-text, .8);
   }
 }



.content {
    width: 100%;
    background: $white;   
    padding-bottom: 48px;
    margin-bottom: 54px;
    @media screen and (max-width: 991px) {
      padding-bottom: 5px;
      margin-bottom: 35px;
      .content__title {
        font-size: $font-lg;
      }
      .content__text {
        font-size: $font-xs;
        padding-right: 0;
        margin-bottom: 25px;
      }
    }
}



.logo-image {
    width: 100%;   
    overflow: hidden;
    margin-bottom: 24px;
    img {
      transition:.5s;
      width: 100%;
      &:hover {
        transform:scale(1.3);
      }
    }
}


// CONTENT STORY=============>\\

.content-story {  
    padding: 45px 62px 0;
    @media screen and (max-width: 991px) {
      padding: 30px 15px 0;
      .story__title {
        font-size: $font-lg;
        margin-bottom: 30px;
      }
      .story__img-block {
        margin-bottom: 35px;
      }

      .content__text_indent3 {
        margin-bottom: 40px;
      }

      .img-block-border {
        margin: 0 auto;
      }
   
    }
    @media screen and (max-width: 576px) { 
      padding: 30px 10px 0;
      .img-block-border {
        border: 10px solid $decor-border;
        padding: 60px 0 60px 7.5%;
      }  
    }

}

.content__title { 
  font-weight: $semi-bold_3;
  font-size: $content-title;
  line-height: 135.19%;
  text-align: center;
  color: $title-content;
  padding-bottom: 28px;
  border-bottom: 1px solid rgba($black, .3);
}

.content__text {
  font-weight: $normal;
  font-size: $font-lg;
  line-height: 136%;
  color: $basic-text;
  margin-bottom: 38px;
  padding-right: 3px;
}

.content__text_indent1 {
  margin-bottom: 57px;
}

.content__text_indent2 {
  margin-bottom: 65px;
}

.content__text_indent3 {
  margin-bottom: 75px;
}

.content__text_indent4 {
  margin-bottom: 71px;
}

.content__text_indent5 {
  margin-bottom: 48px;
}

.story__title {
  font-weight: $bold;
  font-size: $story-title;
  line-height: 135.19%;
  text-align: center;  
  color: $title-content;
  margin-bottom: 29px;
}

.story__title_left {
  text-align: left;
  margin-bottom: 40px;
}

.story__title_indent {
  margin-bottom: 83px;
}

.story__img-block {
  text-align: center;
  margin-bottom: 49px;

}

.img-block-border {
  border: 13px solid $decor-border;
  box-sizing: border-box;
  display: inline-block;
  margin-top: 29px;
  margin-bottom: 35px;
  padding: 98px 0 79px 7.5%;
}

.order_wrap {
  padding: 2px 2.3% 0 0;
  margin-bottom: 50px;
  @media screen and (max-width: 991px) {
      padding: 30px 0 0;
      margin-bottom: 40px;
  }   
}

.btn-offer{
    display: block;
    color: $white;  
    margin: 0 auto;
    background: $accent-blue;
    max-width: 364px;
    text-align: center;
    font-weight: $bold;
    font-size: $font-lg;
    line-height: 135.19%;
    text-transform: uppercase;
    padding: 13.5px;   
    transition: .5s;
    text-decoration: none;
    &:hover {
      transform:scale(1.1);
    }
    @media screen and (max-width: 576px) {
      font-size: $font-md;
      width: 90%;
    }    
}



//SOCIAL NETWORK COMMENTS--------------->

.social-net-wrapper {
  padding: 26px 68px 0 63px;
  margin-bottom: 89px;
  @media screen and (max-width: 991px) {
    padding: 15px;
    margin-bottom: 10px;
    .social-net-container{
      padding: 20px 20px 0;
    }
    .social-net-title {
      font-size: $font-lg;
    }

    .social-net-block {
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    .social-net-name,
    .social-net-date,
    .social-net-text {
      font-size: $font-xs;
    }

    .social-net-text {
      margin-bottom: 20px;
    }

    .facebook-icon {
      width: 25px;
      height: 25px;
    }
  }

  @media screen and (max-width: 576px) { 
    padding: 10px;
    .social-net-container {
      border: 10px solid $decor-border;
      padding: 20px 10px;
    }

    .social-net-text {
      margin-bottom: 10px;
    }  
  }
}




.social-net-indent1 {
  padding-bottom: 39px;
  margin-bottom: 29px; 
}

.social-net-indent2 {
  padding-bottom: 12px;
  margin-bottom: 32px; 
}

.social-net-indent3 {
   padding-bottom: 35px;
   margin-bottom: 32px; 
}

.social-net-indent4 {
   margin-bottom: 40px;
   padding-bottom: 39px; 
}

.social-net-indent5 {
   padding-bottom: 19px;
   margin-bottom: 32px; 
}

.social-net-indent6 {
  padding-bottom: 33px;
  margin-bottom: 44px; 
}

.social-net-indent7 {
  padding-bottom: 12px;
  margin-bottom: 40px; 
}


.social-avatar-indent {
    margin-top: 8px;
}

.social-img-indent {
    padding-top: 6px;
}

.social-net-container {
  border: 13px solid $decor-border;
  background: $white;
  margin-bottom: 10px;
  padding: 41px 38px 12px 38px; 
}

.social-net-title {  
  font-size: $story-title;  
  font-weight: $bold;
  line-height: 140%;
  padding-left: 8px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: $black;
}

.social-net-list_indent {
  padding-top: 10px;
}

.social-net-item {
    display: flex;    
    align-items: center;
    margin-bottom: 11px;    
}


.facebook-icon {    
    width: 30px;
    height: 30px;
    fill: $accent-blue;
    margin-right: 12px;
    opacity: .6;
    margin-left: auto;
}

.social-net-date {
    font-size: $font-lg;
    font-weight: $normal;    
    line-height: 147.69%;
    color: $social-date;
    padding-right: 10px;
    margin-left: 17px;     
}

.social-net-date_indent {
  margin-left: 28px;
}

.social-net-block {
    display: flex;
    border-bottom: 2px solid $decor-border;
    &:last-child {
      border-bottom: none;
    }    
    @media (max-width: 474px) {
        padding-bottom: 0;        
        flex-direction: column;
        .social-net-text {
            font-size: $font-sm;
        }
        .social-net-block-icons {
            font-size: $font-xs;
        }
        .social-net-icon {
            margin-right: 6px;
        }
        .social-net-block-like {
            margin-right: 0;
        }
    }
}

.social-net-avatar {
    display: inline-block;
    margin-right: 30px;
}

.social-net-comment {
    flex: 1 1 auto;
}

.social-net-name {
    font-weight: $semi-bold_2;
    font-size: $font-lg;
    line-height: 147.69%;
    color: $accent-blue;
        
}

.social-net-text {
    font-weight: $normal;
    font-size: $font-md;
    line-height: 135.19%;
    color: $social-text;
    margin-bottom: 29px;
}

.social-net-text-indent1 {
    line-height: 150%;
    padding-bottom: 7px;
}

.social-net-text-indent2 {
    margin-bottom: 11px;
}

.social-net-text-indent3 {
    margin-bottom: 33px;
}

.social-net-text-indent4 {
    margin-bottom: 20px;
}

.social-net-text-indent5 {
    margin-bottom: 25px;
}



footer {
  height: 136px;
  background: $footer-bg;
  border-top: 9px solid $footer-border;
  margin-bottom: 55px;
  @media screen and (max-width: 991px) {
    height: 100px;
    margin-bottom: 30px;
  }

}

.ac_footer {
    text-align: center;
    padding: 0 1.5% 57px 0;
    a { 
        font-weight: $bold;
        font-size: $font-xl;
        line-height: 140%;
        text-decoration-line: underline;
        color: $black;
        &:hover, &:active {
            color: rgba($black, .8);
        }
    }
    @media screen and (max-width: 991px) {
        padding: 0 0 30px 0;
        a {
          font-size: $font-lg;
        } 
  }
}


