@import "../sass-utils/mixnis"
@import "../sass-utils/vars"



header	
	height: 180px
	background: url("../../../img/bg-body.jpg") no-repeat 50% 0 /cover	
	position: relative
	&:before
		@include pseudofill
		background: linear-gradient(to top, rgba(142, 142, 147, .9)4px, rgba(142, 142, 147, 0)15px)