
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin square($size) {
  @include size($size, $size);
}

@mixin circle($size) {
  @include square($size);
  border-radius: 50%;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@mixin pseudofill () {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; 
}

@mixin pseudocenter () {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;  
}