

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/roboto-regular/roboto-regular.eot');
    src: url('../fonts/roboto-regular/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular/roboto-regular.woff2') format('woff2'),
         url('../fonts/roboto-regular/roboto-regular.woff') format('woff'),
         url('../fonts/roboto-regular/roboto-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Abhaya Libre ExtraBold';
    src: url('../fonts/abhaya-libre-extra-bold/abhaya-libre-extra-bold.eot');
    src: url('../fonts/abhaya-libre-extra-bold/abhaya-libre-extra-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/abhaya-libre-extra-bold/abhaya-libre-extra-bold.woff2') format('woff2'),
         url('../fonts/abhaya-libre-extra-bold/abhaya-libre-extra-bold.woff') format('woff'),
         url('../fonts/abhaya-libre-extra-bold/abhaya-libre-extra-bold.ttf') format('truetype');         
    font-weight: normal;
    font-style: normal;

}



