


$font-basic: 'Roboto Regular', sans-serif;
$font-second: 'Abhaya Libre ExtraBold', sans-serif;


//color//
$title-logo				 : #EE5CAB;
$accent			         : #2B742A;
$nav_-_news              : #F1F3F2;
$nav_border              : #B0B0B0;
$basic-text				 : #5A5A5A;
$news-text_line          : #6D6D6D;
$end-product_banner      : #ffc107;
$comment-border          : #979797;
$comment-signature       : #385898;
$commrnt-sign_circle     : #757575;
$commet-bg               : #F2F3F5;
$offer-bg                : #FFFF95;
$button                  : #E19432;
$footer                  : #C4C4C4;
$important               : #F00;
$white                   : #fff;
$black					 : #000;





//font-size
$font-logo               : 36px;
$font-logo_md            : 28px;
$font-nav_link           : 25px;
$exclusive__title        : 30px;
$exclusive__title_md     : 24px;
$baner__title_sm         : 30px;
$news__title             : 30px;
$report__btn             : 30px;
$try__title              : 36px;
$comment_btn			 : 35px;	
$reason__title           : 23px;
$clinically__title_md    : 17px;
$font-title_md           : 25px;
$font-caption            : 15px;
$font-caption_sm         : 13px;
$font-lg 				 : 22px;
$font-md                 : 20px;
$font-sm                 : 18px;
$font-xs                 : 16px;
$font-2xs                : 14px;
$font-3xs                : 12px;
$font-4xs                : 10px;





//font-weght
$normal					 : 400;
$semi-bold_1             : 500;
$semi-bold_2             : 550;
$semi-bold_3             : 600;
$bold               	 : 700;
$bolder               	 : 800;
$extaBold                : 700;

//border-radius
$comment-radius          : 45px;






 		