
@font-face {
    font-family: 'Audiowide';
    src: url('../fonts/Audiowide/audiowide-regular-webfont.eot');
    src: url('../fonts/Audiowide/audiowide-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Audiowide/audiowide-regular-webfont.woff2') format('woff2'),
         url('../fonts/Audiowide/audiowide-regular-webfont.woff') format('woff'),
         url('../fonts/Audiowide/audiowide-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron/Orbitron-Regular.eot');
    src: url('../fonts/Orbitron/Orbitron-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Orbitron/Orbitron-Regular.woff2') format('woff2'),
        url('../fonts/Orbitron/Orbitron-Regular.woff') format('woff'),
        url('../fonts/Orbitron/Orbitron-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
	margin: 0; 
	font-family: 'Orbitron', sans-serif;
}
.wrapper{
	background: #333;
	background: radial-gradient(rgba(51, 51, 51, .8), rgba(51, 51, 51, 1));
	padding: 0;	
	margin: 8px auto;
	border-right: 8px solid rgba(255, 255, 255, .8);
	border-left: 8px solid rgba(255, 255, 255, .8);
}
.alert{
	font-family: 'Audiowide', cursive;
	font-size: 20px;
	color: rgb(255, 255, 255);
	position: relative;
	letter-spacing: .5px;
	top: -200px;
	transition: top cubic-bezier(0.25, 0.1, 0.81, 1.51) .5s;
}
.logo{	
	padding: 1.5% 0 0 1.5%;
	margin-bottom: 80px;
}
.icon-logo{
	font-size: 32px;
	margin-right: 10px;
	color: rgba(255, 255, 255, .9);
}
#output,
.lap-time{
	display: flex;
	justify-content: center;
	font-size: 35px;
	padding-left: 2%;
	font-weight: 600;
	color: white;
	margin-bottom: 18px;
}
.digital{	
	font-size: 35px;
	color: rgba(255, 255, 255, .9);
	width: 62px;	
    font-weight: 400;
    margin: 0 3px;
    letter-spacing: 1px;
}
.digital:last-child{
	width: 30px;	
	font-size: 33px;
	margin-left: 4px;
    margin-top: auto; 
}
.btns-box{
	text-align: center;
}
.laps-box{
	height: 100vh;
}

[class^=btn-]{
	font-family: 'Audiowide', cursive;
	font-size: 20px;
	padding: 3px 0;
	margin: 0 12px;
	position: relative;
	background: rgba(255, 255, 255, 1);
	cursor: pointer;
	z-index: 5;
	border: none; 
	border-top: 2px solid rgba(209, 209, 214, .9);
	border-bottom: 2px solid rgba(209, 209, 214, .9);
	outline: none;
	transition: background ease .3s;
	box-sizing: border-box; 
}
[class^=btn-]:hover{
	color: rgba(255, 255, 255, .85);
}	
[class^=btn-]:active{
	transform: scale(.96);
}
[class^=btn-]:before, 
[class^=btn-]:after{
	content: "";
	position: absolute;
	background: inherit;
	z-index: -5;
	top: -2px;
	bottom: -2px;	
	border: 2px solid rgba(209, 209, 214, .9);
}
.btn-start:before{
	width: 19px;
	right: 100%;
	border-right: none;
	transform: translateX(1px);
	border-radius: 100% 0 0 100%/ 50% 0 0 50%;
}
.btn-start:after, 
.btn-stop:after, 
.btn-lap:after{
	width: 21px;
	left: 100%;
	border-left: none;
	transform: translateX(-9px) skew(-25deg);
}
.btn-discharge:before{
	width: 19px;
	left: 100%;
	border-left: none;
	transform: translateX(-1px);
	border-radius: 0 100% 100% 0/ 0 50% 50% 0;
}
.btn-discharge:after,
.btn-stop:before, 
.btn-lap:before{
	width: 21px;
	right: 100%;
	border-right: none;
	transform: translateX(9px) skew(-25deg);
}
.btn-start:hover,
.btn-start:focus{	
	background: rgb(48, 208, 88);	
}
.btn-stop:hover,
.btn-stop:focus{	
	background: rgb(255, 59, 48);	
}
.btn-lap:hover{	
	background: rgb(72, 72, 74);}
.btn-discharge:hover{	
	background: rgb(255, 59, 48);	
}
.laps-box{
	margin-top: 30px;
}
.lap-time{
	margin: 0 0 12px 0;
	padding-left: 1%;
	color: rgba(255, 255, 255, .8);
}
.lap-number{
	margin-right: 30px;
	font-family: 'Audiowide', cursive;
	color: rgba(255, 255, 255, 1);
	font-size: 33px;
	display: flex;
	align-items: center;
	letter-spacing: 3px;
	font-weight: 400;
}
.icon-font{
	font-size: 25px;
	margin-right: 7%;
	color: rgba(255, 255, 255, 1);
}

@media (max-width: 370px){
	.wrapper{			
		border-right: 2px solid rgba(255, 255, 255, .8);
		border-left: 2px solid rgba(255, 255, 255, .8);
	}
	[class^=btn-], .alert{
		font-size: 16px;
	}
	#output,
	.lap-time{
		font-size: 30px;
	}
	.digital{
		font-size: 33px;
	}
	.digital:last-child{
		font-size: 31px;
	}
	.lap-number{
		font-size: 28px;
		margin-right: 20px;
	}
	.icon-font{
		font-size: 22px;

	}
}
