    @font-face{
      font-family: 'Righteous';
      src: url('../fonts/Righteous/righteous-regular-webfont.eot');
      src: url('../fonts/Righteous/righteous-regular-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/Righteous/righteous-regular-webfont.woff2') format('woff2'),
           url('../fonts/Righteous/righteous-regular-webfont.woff') format('woff'),
           url('../fonts/Righteous/righteous-regular-webfont.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/TitilliumWeb/TitilliumWeb-Regular.eot');
    src: url('../fonts/TitilliumWeb/TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TitilliumWeb/TitilliumWeb-Regular.woff2') format('woff2'),
        url('../fonts/TitilliumWeb/TitilliumWeb-Regular.woff') format('woff'),
        url('../fonts/TitilliumWeb/TitilliumWeb-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    body{
      text-align: center;
      font-family: 'Titillium Web', sans-serif;           
    }
    #counter{      
      font-size: 20px;
      padding: 40px 0 10px;
      font-weight: 700;
    }
    .block-min,.block-sec,.block-ms{
      background: #fff3d4;
      width: 32px;
      display: inline-block;
      text-align: center;
      font-size: 25px;      
      font-weight: 400;
      margin: 0 5px;
      border: 1px solid rgba(199, 199, 204, .9);
    }
    .block-ms{
      width: 30px;
      font-size: 22px;
      line-height: 38px;
    }

    button{
      font-family: 'Righteous', cursive;
      border-radius: 10px;
      color: white;
      padding: 5px 10px;
      font-size: 18px;
      outline: none;
    }
    .btn-start{
      background: rgb(48, 209, 88);
    }
    .btn-start:hover,.btn-start:focus{
      background: rgb(52, 199, 89);
    }
    .btn-stop{
      background: rgb(255, 69, 58);
    }
    .btn-stop:hover,.btn-stop:focus{
      background: rgb(255, 59, 48);
    }

    .btn-discharge,.btn-lap{
      background: rgb(199, 199, 204);
    }
    .btn-discharge:hover,.btn-discharge:focus,.btn-lap:hover,.btn-lap:focus{
      background: rgb(174, 174, 178);
    }
    .lap-time{
      font-size: 20px;      
      font-weight: 700;
    }
    .lap-text{
      display: inline-block;
      font-family: 'Righteous', cursive;     
      color: white;      
      width: auto;      
      font-size: 25px;
      font-weight: 400;
      width: 40px;
      line-height: 40px;     
      padding: 0 6px;
      background: rgb(199, 199, 204);
    }