@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/roboto-regular/roboto-regular.eot");
  src: url("../fonts/roboto-regular/roboto-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular/roboto-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  scroll-behavior: smooth; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

a {
  cursor: pointer; }
  a:hover, a:active {
    text-decoration: none; }

button {
  cursor: pointer; }
  button:focus {
    border: none;
    outline: none; }

body,
html {
  overflow-x: hidden; }

.link {
  color: #407fff;
  font-weight: 600;
  text-decoration: underline; }
  .link:hover, .linkactive {
    color: #53a5ff;
    text-decoration: underline; }

.accent-blue {
  color: #385898; }

.text-bold {
  font-weight: 700; }

.pre-line-text {
  white-space: pre-line; }

.img-fluid {
  max-width: 100%;
  height: auto; }

.upper-text {
  text-transform: uppercase; }

.limit-screen {
  max-width: 1246px;
  width: 100%;
  margin: 0 auto; }

.image-left {
  float: left;
  max-width: 100%;
  height: auto;
  margin: 32px 20px 10px 0; }
  @media (max-width: 574px) {
    .image-left {
      display: block;
      float: none;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto; } }

body {
  font-family: "Roboto Regular", sans-serif;
  background: url("../img/body-bg.jpg") repeat-y top center/cover;
  background-attachment: fixed;
  margin: 0 auto;
  font-weight: 400;
  color: #000;
  line-height: 1; }

header {
  background: url("../img/header-bg.jpg") no-repeat bottom center/cover;
  padding: 12px 0 35px 48px;
  box-sizing: border-box;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
  position: relative; }
  header:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15px;
    background: #385898; }

.header-title {
  font-weight: 600;
  font-size: 60px;
  line-height: 140%;
  color: #385898;
  letter-spacing: 1px; }

.header-sucribe {
  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
  letter-spacing: -0.015em;
  color: #385898; }

main {
  margin-top: 15px;
  text-align: justify;
  line-height: 0; }

.content,
.sidebar .block {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: #fff; }

.content {
  line-height: 23px;
  padding: 4px 25px 10px 33px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  max-width: 819px;
  width: 100%;
  background: #fff;
  border-radius: 20px; }

.post-block {
  border-bottom: 2px solid #DBDBDB; }

.post-date {
  font-weight: 400;
  font-size: 20px;
  line-height: 147.69%;
  text-align: justify;
  color: #000;
  margin-bottom: 5px; }

.post-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 147.69%;
  text-align: justify;
  color: #000; }

.post-indent1 {
  padding-top: 49px; }

.post-indent2 {
  padding-top: 44px;
  padding-left: 4px; }

.post-indent3 {
  padding-top: 44px;
  padding-left: 7px; }

.post-indent4 {
  padding: 53px 0 0 7px; }

.post-indent5 {
  padding: 46px 0 0 8px; }

.post-text-indent1 {
  margin-top: 28px;
  margin-bottom: 15px; }

.post-text-indent2 {
  margin-top: 24px;
  margin-bottom: 15px; }

.post-text-indent3 {
  margin-top: 20px;
  margin-bottom: 15px; }

.post-text-indent4 {
  margin-top: 20px;
  margin-bottom: 10px; }

.post-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 150.69%;
  text-align: justify;
  color: #000; }

.post-img1 {
  padding-top: 18px;
  text-align: center; }

.post-img2 {
  padding: 30px 0 15px;
  text-align: center; }

.post-img-link {
  padding: 46px 8% 48px 0;
  position: relative;
  text-align: right; }

.link-img {
  display: inline-block; }

.post-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  margin-bottom: 10px; }

.post-icons {
  display: flex; }

.icon-comment {
  width: 35px;
  height: 35px;
  position: relative; }

.icon-comment1 {
  margin-left: -4px;
  z-index: 30; }

.icon-comment2 {
  margin-left: -9px;
  z-index: 20; }

.icon-comment3 {
  margin-left: -7px;
  z-index: 10; }

.post-likes-num {
  margin-left: 8px; }

.post-likes-num,
.post-coment-num {
  font-weight: 400;
  font-size: 20px;
  line-height: 147.69%;
  color: #757575;
  margin-top: 5px; }

.posts-btn-block {
  margin: 59px 0 36px;
  display: flex;
  justify-content: center; }

.btn-link {
  width: 364px;
  margin-right: 3%;
  display: block;
  text-decoration: none;
  background: linear-gradient(180deg, #537ECD 0%, #3660B5 100%);
  box-shadow: 0px 4px 4px rgba(56, 88, 152, 0.27);
  border-radius: 20px;
  padding: 13px 20px;
  font-weight: 700;
  font-size: 22px;
  line-height: 135.19%;
  text-align: center;
  text-transform: uppercase;
  color: #fff; }
  .btn-link:hover, .btn-linkactive {
    background: linear-gradient(180deg, rgba(83, 126, 205, 0.8) 0%, rgba(54, 96, 181, 0.8) 100%); }

.social-net-indent1 {
  margin-bottom: 18px; }

.social-net-indent2 {
  margin-bottom: 32px; }

.social-net-indent3 {
  margin-bottom: 38px; }

.social-net-indent4 {
  margin-bottom: 44px; }

.social-net-header {
  background: #D5E4E7;
  color: #385898;
  padding: 4px 4px 4px 14px;
  margin-bottom: 56px; }

.social-avatar-indent {
  margin-top: 8px; }

.social-img-indent {
  padding-top: 6px; }

.social-net-title {
  font-weight: 550;
  font-size: 20px;
  line-height: 135.19%; }

.social-net-block {
  display: flex;
  padding-bottom: 10px; }
  @media (max-width: 474px) {
    .social-net-block {
      padding-bottom: 0;
      flex-direction: column; }
      .social-net-block .social-net-text {
        font-size: 18px; }
      .social-net-block .social-net-block-icons {
        font-size: 16px; }
      .social-net-block .social-net-icon {
        margin-right: 6px; }
      .social-net-block .social-net-block-like {
        margin-right: 0; } }

.social-net-avatar {
  display: inline-block;
  margin-right: 30px; }

.social-net-comment {
  flex: 1 1 auto; }

.social-net-name {
  font-weight: 550;
  font-size: 22px;
  line-height: 147.69%;
  color: #385898;
  margin-bottom: 11px; }

.social-net-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 135.19%;
  color: #5A5A5A;
  margin-bottom: 18px; }

.social-net-text-indent1 {
  line-height: 150%;
  padding-bottom: 7px; }

.social-net-text-indent2 {
  margin-bottom: 11px; }

.social-net-text-indent3 {
  margin-bottom: 22px; }

.social-net-foot {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.social-net-block-icons {
  font-size: 20px; }

.social-net-icon {
  width: 25px;
  height: 25px;
  margin-right: 12px; }

.social-net-date {
  font-weight: 400;
  line-height: 147.69%;
  color: #B0B0B0;
  padding-right: 10px;
  margin-right: 5px;
  position: relative; }
  .social-net-date:before {
    content: "";
    position: absolute;
    top: 8%;
    bottom: 20%;
    right: 0;
    background: #B0B0B0;
    width: 1px; }

.social-net-answer {
  font-weight: 400;
  line-height: 147.69%;
  color: #0055FF; }

.social-net-block-like {
  padding-left: 40px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 12px;
  font-weight: 400;
  font-size: 15px;
  line-height: 147.69%;
  color: #000; }
  .social-net-block-like:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: url(../img/like-icon.png) no-repeat 0 0; }

.social-net-btn-block {
  margin: 71px 0 36px;
  display: flex;
  justify-content: center; }

.sidebar {
  margin-left: 18px;
  display: inline-block;
  vertical-align: top;
  max-width: 405px;
  width: 100%;
  text-align: left; }

.sidebar-block {
  background: #fff;
  border-radius: 20px;
  margin-bottom: 31px; }

.sidebar-head {
  background: #D5E4E7;
  text-align: left;
  border-radius: 20px 20px 0px 0px;
  padding: 12px 0 12px 38px; }

.sidebar-title {
  font-weight: 550;
  font-size: 25px;
  line-height: 175.69%;
  letter-spacing: 0.02em;
  color: #385898; }

.sidebar-content {
  padding: 21px 33px 26px 34px; }

.sidebar-content2 {
  padding: 7px 21px 5px 24px; }

.bloggers-list {
  display: flex;
  flex-wrap: wrap; }

.bloggers-list-item {
  padding: 14px 10px 14px 15px; }

.bloggers-sucribe {
  padding-left: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 175.69%;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 16px; }

.sidebar-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 175.69%;
  color: #000; }

.sidebar-text-indent1 {
  margin: 10px 0 45px 0; }

.sidebar-text-indent2 {
  margin: 4px 0 12px 0; }

.sidebar-image {
  padding: 23px 0 25px; }

.sidebar-order-now {
  margin-left: 3px; }

.order-now-img-link {
  text-align: right;
  padding: 65px 0 28px 60px; }

.order-now-item {
  text-align: center;
  margin-bottom: 26px; }

.order-now-link {
  display: inline-block;
  font-weight: 600;
  font-size: 25px;
  line-height: 121.12%;
  color: #000;
  background: #ffff95;
  text-decoration: none; }
  .order-now-link span {
    text-decoration: underline; }

.btn-order-now {
  width: auto;
  padding: 15px 0;
  margin: 0 13px 25px 15px;
  font-weight: 500;
  font-size: 25px;
  line-height: 140.62%;
  text-transform: uppercase; }

footer {
  background: #fff;
  margin: 80px 0 58px; }

.footer-copyright {
  font-weight: 550;
  font-size: 20px;
  line-height: 135.19%;
  color: #000;
  text-align: center;
  padding: 22px 3.5% 19px 0; }

.ac_footer {
  text-align: center;
  padding: 0 3.5% 48px 0; }
  .ac_footer a {
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    text-decoration-line: underline;
    color: #000; }
    .ac_footer a:hover, .ac_footer a:active {
      color: rgba(0, 0, 0, 0.8); }

@media screen and (max-width: 1246px) {
  .content {
    width: 100%;
    max-width: 100%;
    text-align: left;
    padding: 10px; }
  .post-img-link {
    text-align: center;
    padding-right: 0; }
  .pre-line-text {
    white-space: normal; }
  .sidebar {
    display: none; } }

@media screen and (max-width: 991px) {
  header {
    background-size: cover;
    padding-left: 10px;
    padding-right: 10px; }
  .header-title {
    font-size: 40px; }
  .header-sucribe {
    font-size: 16px; }
  .post-title {
    text-align: left; }
  .post-indent2,
  .post-indent3,
  .post-indent4,
  .post-indent5 {
    padding-left: 0; }
  .post-text {
    font-size: 18px; }
  .post-img-link {
    text-align: center;
    padding-right: 0; }
  .post-indent4 {
    padding-left: 0; }
  .hidden-comment {
    display: none; } }

@media only screen and (max-width: 680px) {
  .header-title {
    font-size: 22px; }
  .header-sucribe {
    font-size: 15px; } }

/*# sourceMappingURL=main.css.map */
