   
    @font-face{
      font-family: 'Righteous';
      src: url('../fonts/Righteous/righteous-regular-webfont.eot');
      src: url('../fonts/Righteous/righteous-regular-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/Righteous/righteous-regular-webfont.woff2') format('woff2'),
           url('../fonts/Righteous/righteous-regular-webfont.woff') format('woff'),
           url('../fonts/Righteous/righteous-regular-webfont.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
    body{         
      background: url('../img/bg-body.jpg') no-repeat 50%/cover;
      background-attachment: fixed;
    }
    button, button:hover, button:active, button:focus{
      background: none;      
      outline: none;
      border: none;
    }
    #wrapper{
      display: flex;   
      justify-content: center;
      overflow: hidden;
      padding: 5px 0 20px 0;
    }
    #fieldWrap{     
      display: inline-block;
      position: relative;
      border: 18px solid  rgba(99, 99, 102, .7);
      border-radius: 25px;    
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);   
    }
      
    .menu-game,.levels,.option-page,.game-over,.game-win{
      position: absolute;     
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 99%;
      height: 99%;
      left: .5%;
      right: .5%;
      top: .5%;
      bottom: .5%;    
      background: linear-gradient(to left, rgba(99, 99, 102, .7), rgba(0, 0, 0, 0.2)3%, rgba(0, 0, 0, 0.2)8%, rgba(255, 255, 255, .5)10%, rgba(255, 255, 255, .5)90%, rgba(0, 0, 0, 0.2)92%, rgba(0, 0, 0, 0.2)97%, rgba(99, 99, 102, .7));      
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
    }
    .title-game-menu,.title-game-over{
      position: absolute;
      left: 50%;
      top: 70px;
      transform: translateX(-50%);
      text-align: center;     
      font-family: 'Righteous', cursive;     
      font-size: 30px;
      letter-spacing: 1px;
      cursor: default;          
    }
    .debug-icon{      
      font-size: 27px;
      line-height: 30px;
      color: rgb(28, 28, 30);  
    }
    .option-page{
      font-family: 'Righteous', cursive;
      color: rgb(28, 28, 30);
      font-size: 20px;
      letter-spacing: 1px;      
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
    }
    .option-page .option-game{
      display: flex;
      justify-content: flex-start;
      padding: 0 0 0 55px;
      align-items: center;
      cursor: default;
      width: 450px;
    }
    .title-option{
      color: rgba(48, 209, 88, .9);
      font-size: 23px;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
    }
    .option-arrow{
      display: block;
      width: 30px;
      color: rgba(48, 209, 88, .8);
      font-size: 27px;
      line-height: 20px;
      margin: 0 5px 0 10px;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
    }
    .back-menu{
      position: absolute;
      left: 50%;
      width: 200px;     
      bottom: 45px;
      color: rgb(28, 28, 30);
      transform: translateX(-50%);
    }
    .back-menu:hover{
      color: rgba(48, 209, 88, .9);
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
    }
    .button-back{
      position: relative;
      width: 100%;
      height: 100%;
      cursor: pointer;
      padding: 0 ;      
      font-family: 'Righteous', cursive;      
      font-size: 25px;
    }
    .button-back:hover,.button-back:active,.button-back:focus{     
      color: rgba(48, 209, 88, .9);
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
    }
    .arrow-back{
      position: absolute;
      display: block;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      line-height: 20px;
    }
    .fade-out{      
      background: rgb(242, 242, 247);
      opacity: 0;
      z-index: -5;
      transition: opacity ease .8s;
    }
    .fade-in{
      opacity: 1;
      z-index: 5;
      transition: opacity ease .8s;
    }
    .option-game{
      position: relative;      
      width: 400px;      
      height: 40px;
      margin: 10px 0;  
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
      background: rgba(99, 99, 102, .7);
    }

    .option-game:hover .game-play{
      color: rgba(48, 209, 88, 1);
    }
    .bug-option-green,.bug-option-red,.bug-option-red2,.bug-option-grey{
      position: absolute;
      left: 20px;
      top: 6px;
      font-size: 30px;
      line-height: 30px;
      height: 30px;            
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);      
    }
    .bug-option-green{
      color: rgb(48, 209, 88);
      text-shadow: 0 4px 4px rgba(48, 209, 88, .4), 0 0 4px rgba(48, 209, 88, .3);      
    }
    .bug-option-red{
      color: rgb(255, 59, 48);
      text-shadow: 0 4px 4px rgba(255, 59, 48, .4), 0 0 4px rgba(255, 59, 48, .3);      
    }
    .bug-option-grey{
      color: rgb(99, 99, 102);
      text-shadow: 0 8px 9px rgba(255, 255, 255, .8), 0 0 9px rgba(255, 255, 255, .7);      
    }
    .bug-option-red2{
      color: rgba(255, 59, 48, .9);
      text-shadow: 0 5px 5px rgba(28, 28, 30, .8), 0 0 5px rgba(28, 28, 30, .6);      
    }
    .bug-active{
      animation: bugBlink 1.1s ease infinite;
    }
    @keyframes bugBlink{
      from{
        opacity: .4;       
      }
      to{
        opacity: 1;      
      }
    }
    .arrow-random-green,.arrow-random-red{
      width: 27px;      
      font-size: 25px;
      line-height: 20px;
      margin: 0 12px 0 10px;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
    }
    .arrow-random-green{
      color: rgba(48, 209, 88, .8);
    }
    .arrow-random-red{
      color: rgba(255, 59, 48, .8);
    }   
    #bugSpecification .option-arrow{
      font-size: 25px;
      margin: 2px 5px 0 8px;        
    }
    #bugSpecification .option-game{
      font-size: 18px;
    }
    .bug-option-small-green,.bug-option-small-red{
      font-size: 25px;
      line-height: 20px;
      letter-spacing: 6px;          
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
    }
    .bug-option-small-green{
      color: rgba(48, 209, 88, .8); 
    }
    .bug-option-small-red{
      color: rgba(255, 59, 48, .8);
    }    
    .game-play{
      position: absolute;
      left: 30px;
      top: 0;
      font-size: 37px;
      height: 37px;
      color: rgba(48, 209, 88, .8);     
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
    }
    .button-game{      
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: pointer;      
      font-family: 'Righteous', cursive;
      color: rgb(28, 28, 30);
      font-size: 25px;
      letter-spacing: 1.5px;
      padding: 0 0 3px 45px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);      
    }
    .button-game:hover,.button-game:active,.button-game:focus{     
      color: rgba(48, 209, 88, .9);
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
    }
    .button-pause,.button-play-in,#buttonSound{
      position: absolute;
      left: 8%;
      bottom: -65px;      
      font-size: 30px;   
      height: 40px;
      width: 40px;        
    }
    .button-play-in{
      transform: translateX(-110%);      
    }
    #buttonSound{
      left: 12.7%;
    }
    .sound-on{
      color: rgba(48, 209, 88, .8);
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
    }
    .sound-on:hover{
      color: rgba(48, 209, 88, .5);
    }
    .sound-off{
      color: rgba(0, 0, 0, .8);
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
    }
    .button-pause:hover,   
    .button-play-in:hover{
       color: rgb(48, 209, 88);
       text-shadow: 0 4px 4px rgba(48, 209, 88, 1), 0 0 4px rgba(48, 209, 88, 1);
    }
    .button-no-active{
      color: rgb(28, 28, 30)
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
    }
    .button-active{
      color: rgb(48, 209, 88);
      text-shadow: 0 4px 4px rgba(48, 209, 88, 1), 0 0 4px rgba(48, 209, 88, 1);
    }
    .button-level{      
      position: relative;
      width: 250px;      
      height: 40px;  
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
      background: rgba(99, 99, 102, .7);     
      padding: 0 0 0 50px;
      font-family: 'Righteous', cursive;     
      font-size: 27px;
      color: rgba(48, 209, 88, .9);
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
    } 
    .button-level:before{
        content: '\f17b';
        position: absolute;
        left: 35px;
        top: 0;
        font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
        font-weight: 400;
        font-size: 45px;
        line-height: 40px;
        width: 45px;
        height: 45px;
    }
    .button-level:hover,.button-level:active,.button-level:focus{      
      background: rgba(99, 99, 102, .7);
      color: rgba(48, 209, 88, 1);
      text-shadow: 0 4px 4px rgba(48, 209, 88, .3), 0 0 4px rgba(48, 209, 88, .2);
    }
    .game-over .option-game,.game-win .option-game{
      text-align: center;
      height: auto;
      cursor: default;
      font-family: 'Righteous', cursive;     
      font-size: 30px;
      width: 350px;
      margin: 0 0 70px 0;
      color: rgba(48, 209, 88, .8);
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
    }
    .game-win .option-game:before{
      content: '\f17b';
      position: absolute;
      left: 45px;
      top: 0;
      font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
      font-weight: 400;
      font-size: 45px;
      line-height: 38px;
      width: 45px;
      height: 45px;
    }
    .title-game-over,.title-game-win{
      position: absolute;
      left: 50%;
      top: 70px;
      transform: translateX(-50%);
      text-align: center;     
      font-family: 'Righteous', cursive;     
      font-size: 30px;
      letter-spacing: 2px;
      cursor: default;
      color: rgb(28, 28, 30);      
    }
    .number-one{
      display: inline-block;
      font-size: 35px;
      transform: translateY(2px);
    }
    .trophy{
      position: absolute;      
      display: block;
      width: 300px;
      height: 300px;
      left: -9%;
      font-size: 260px;
      line-height: 300px;
      color: rgb(28, 28, 30);       
    }
    .coffin-android, .box-won{
      width: 260px;
      height: 260px;      
      position: absolute;
      padding: 0;
      left: 50%;
      bottom: 150px;          
      transform: translateX(-50%);
    }
    .android-dead{
      position: absolute;      
      display: block;
      width: 300px;
      height: 300px;
      font-size: 300px;
      line-height: 300px;      
      color: rgb(28, 28, 30);      
    }
    .bug1,.bug2,.bug3,.bug4{
      position: absolute;      
      display: block;
      width: 18px;
      height: 18px;
      font-size: 18px;
      line-height: 18px;
      z-index: 5;
      opacity: 0;
      transform-origin: center;
      left: 50%;
      top: 50%;
      color: rgba(48, 209, 88, .6);
      text-shadow: 0 2px 2px rgba(48, 209, 88, .3), 0 0 2px rgba(48, 209, 88, .2);
    } 
    .bug4{
      opacity: 1;
      left: 84%;
      top: 56%;
      transform: rotate(139deg);
    }  

    @keyframes bugCreepOne{
      from{
      opacity: 1;
      left: 24%;
      top: 79%;
      transform: rotate(60deg);            
      }
      to{
      opacity: 1;
      left: 72%;
      top: 46%;
      transform: rotate(60deg);      
      }
    }
    @keyframes bugCreepTwo{
      from{
      opacity: 1;
      left: 22.5%;
      top: 56%;
      transform: rotate(110deg);            
      }
      to{
      opacity: 1;
      left: 72%;
      top: 79%;
      transform: rotate(110deg);     
      }
    }
    @keyframes bugCreepThree{
      0%{
      opacity: 1;
      left: 72%;
      top: 67%;
      transform: rotate(-50deg);           
      }
      50%,70%{
      opacity: 1;
      left: 44%;
      top: 51%;
      transform: rotate(-50deg);    
      }
      100%{
      opacity: 1;
      left: 26%;
      top: 39%;
      transform: rotate(-50deg); 
      }
    }
    @keyframes bugCreepFour{
      from{
      opacity: 1;
      left: 72%;
      top: 65%;    
      transform: rotate(-127deg);           
      }
      to{
      opacity: 1;
      left: 47%;
      top: 82%;    
      transform: rotate(-127deg);     
      }
    } 
    @keyframes bugCreepFive{
      0%{
      opacity: 1; 
      left: 58%;
      font-size: 15px;
      top: 24%;
      transform: rotate(-133deg);
      }
      30%{
      opacity: 1; 
      font-size: 17px;
      left: 57%;
      top: 25%;
      transform: rotate(-133deg);           
      }
      100%{
      opacity: 1;
      left: 47%;
      font-size: 17px;
      top: 33%;
      transform: rotate(-133deg);     
      }
    }
    @keyframes bugCreepSix{
      0%{ 
      opacity: 1;     
      font-size: 15px;
      left: 36%;
      top: 21%;
      transform: rotate(45deg);
      }
      40%{
      opacity: 1;
      font-size: 17px;
      left: 38%;
      top: 19%;
      transform: rotate(45deg);         
      }
      100%{
      opacity: 1;      
      font-size: 17px;
      left: 47%;
      top: 11%;
      transform: rotate(45deg);     
      }
    }

    #playingField{      
      width: 981px;
      border: 1px solid rgb(28, 28, 30);
      border-top: 10px solid rgb(28, 28, 30);
      border-bottom: 23px solid rgb(28, 28, 30);
      height: 800px;      
      position: relative;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);      
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover; 
    }
    #playingField:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(to left, rgb(28, 28, 30), transparent, rgba(255, 255, 255, .9)5%, rgba(255, 255, 255, .9)96%, transparent, rgb(28, 28, 30));      
    }
    #activeScreen{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    .bugOrdinary{    
      position: absolute;
      font-size: 35px;
      transform: scale(-1);        
      width: 35px;
      height: 35px;
      color: rgb(48, 209, 88);    
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);      
    }
  /*Bugs Option*/
    .bugArmored{
      color: rgb(255, 59, 48);      
    }
    .bugManyFaces{
      color: rgb(99, 99, 102);
    }
    .bugArmoredManyFaces{
      color: rgba(255, 59, 48, .9);
      text-shadow: 0 5px 5px rgba(28, 28, 30, .8), 0 0 5px rgba(28, 28, 30, .6);
    }
    .bugRowDown{
      color: rgb(52, 199, 89);
    }
    .bugRowDown2{
      color: rgb(52, 199, 89);
    }
    .bugRowDownArmored{
      color: rgb(255, 59, 48);
    }   
    .bugRowUp{      
      color: rgb(52, 199, 89);
      text-shadow: 0 4px 4px rgba(255, 255, 255, .7), 0 0 4px rgba(255, 255, 255, .5);
    }
    .bugRowUp2{      
      color: rgb(52, 199, 89);
      text-shadow: 0 4px 4px rgba(255, 255, 255, .7), 0 0 4px rgba(255, 255, 255, .5);
    }
    .bugRowUpArmored{
      color: rgb(255, 59, 48);      
    }

    @keyframes ascension-bug{
      0%{
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2), 0 11px 1px rgba(255, 59, 48, .3);            
      }
      50% {
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2), 0 22px 1px rgba(255, 59, 48, .8);
      }
      100% {
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2), 0 33px 1px rgba(255, 59, 48, 0);
      }
    } 
    @keyframes ascension-android{
      0%{
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2), 0 -23px 1px rgba(48, 209, 88, .3);            
      }
      50% {
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2), 0 -46px 1px rgba(48, 209, 88, .8);
      }
      100% {
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2), 0 -69px 1px rgba(48, 209, 88, 0);
      }
    }    
    [id^=row]{
      position: absolute;
      left:0;
      right: 0;
      height: 35px;      
    } 
    .bullet{
      position: absolute;
      font-size: 18px;
      margin-bottom: 82px;       
      width: 10px;
      height: 10px;
      line-height: 10px;
      color: rgb(52, 199, 89);         
      bottom: 0;
      transform-origin: center;
      transform: rotate(137deg);      
      text-shadow: 0 4px 4px rgba(48, 209, 88, .4), 0 0 4px rgba(48, 209, 88, .2);     
    }
    #android{
      position: absolute;
      display: block;     
      width: 80px;
      height: 80px;
      line-height: 80px;
      left: 50%;
      bottom: -10px;
      font-size: 80px;
      z-index: 5;
      transform: translateX(-50%);      
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
    }
    [id^=arrow] {
      position: absolute;
      font-size: 45px;
      color: rgb(28, 28, 30);     
      bottom: 5px;
      transition: all ease .2s;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);    
    }
    #arrowRight{
      left: 105%;
    }
    #arrowLeft{
      right: 105%;
    }
    #boxDeadBugs{
      position: absolute;
      display: flex;           
      top: 45px;
      left: 105%;
      height: 55px;    
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);     
    }
    #bugDead{
      position: relative;
      display: block;
      font-size: 45px;
      margin-right: 18px;             
      width: 45px;
      line-height: 40px;
      transform-origin: center; 
      height: 45px;
      color: rgba(48, 209, 88, .8);      
      text-shadow: 0 4px 4px rgba(99, 99, 102, .7), 0 0 4px rgba(99, 99, 102, .5);      
    }
    @keyframes bugDead{
      from{
        transform: rotate(0deg);
      }
      to{
        transform: rotate(360deg);
      }
    }
    #countDeadBugs{
      position: relative;
      display: block;
      background: none;
      font-size: 44px;
      line-height: 44px;
      color: rgba(48, 209, 88, .9);
      font-family: 'Righteous', cursive;
      text-shadow: 0 5px 5px rgba(28, 28, 30, .8), 0 0 5px rgba(28, 28, 30, .6);      
      height: 100%;
      text-align: center;
    }
    #boxlevel{
      position: absolute;
      display: flex;      
      font-size: 35px;
      line-height: 35px;
      letter-spacing: 2px;
      color: rgba(48, 209, 88, .9);
      font-family: 'Righteous', cursive;
      text-shadow: 0 4px 4px rgba(99, 99, 102, .7), 0 0 4px rgba(99, 99, 102, .5);           
      top: 45px;
      right: 101%;
      height: 55px;    
    }    
    #countlevels{
      width: 50px;
      padding: 0 0 0 15px; 
    }

    