<header>
    <div class="container header-content">
        <div class="header__img">
            <img src="./img/header-img.jpg" alt="Green Coffee Slim" class="img-fluid">
        </div>
        <div class="header__item">
            <h1 class="header__title">Weight Loss for Men:
            Secrets and Tips</h1>
            <p class="header__text">Millions of men got rid of extra pounds thanks to Green
            Coffee. According to the study, 96.7% lost 12-17 kg in 
            three weeks!</p>
        </div>
    </div>
</header>