<aside class="sidebar">

    <div class="sidebar-block">
        <div class="sidebar-title__block">
             <h3 class="sidebar__title">Similar posts:</h3>
        </div>
        <div class="sidebar__item">
            <div class="sidebar__img">
                <img src="./img/sidebar-img1.jpg" alt="Green Coffee Slim" class="img-fluid">
            </div>
            <p class="sidebar__text">Many fail to lose weight because their diets are lacking!</p>

            <p class="sidebar__text pre-line-text">Unlike modern additives, <a href="#" class="link">Green Coffee 
            Slim</a> can do wonders for weight reduction and correction of body shape. With this product and a healthy diet you can lose up to 18 kg in 2 months!
            </p>
        </div> 
    </div>

    <div class="get-discount-block">
        <div class="get-discount__img">
            <a href="#">
                <img src="./img/green-coffee-box.png" alt="Green Coffee Slim" class="img-fluid">
            </a>
        </div>
        <a class="get-discount__link" href="#">
            Click here to <br> <span>get a discount!</span>
        </a>
    </div>

    <div class="sidebar__item">
        <div class="sidebar__img">
            <img src="./img/sidebar-img2.jpg" alt="Green Coffee Slim" class="img-fluid">
        </div>
            <p class="sidebar__text sidebar__text_indent pre-line-text">If you have any muscles, this will not happen. <a href="#" class="link">Green Coffee</a> will eliminate
             excess fat and will not affect your muscle mass in any way. I was never fat but I used Green Coffee to increase muscle protrusion. And that's what I achieved</p>
    </div>             
      

</aside>