<section class="social-comments">
   
    <div class="content-title__block">
            <h3 class="content__title rtl-text">Comments</h3>                  
        </div>
        
        <div class="social-comments-wrapper">
            
            <!-- user one -->
            <div class="soc-comment-block">
                <div class="soc-comment__upper">
                    <ul class="soc-user-list">
                        <li class="soc-user-list__name rtl-text">Anbara al-M</li>
                        <li class="soc-user-list__date rtl-text">06.04.2020</li>
                    </ul>
                    <div class="soc-user__avatar">
                        <img src="./img/user1.jpg" alt="Green Coffee Slim">
                    </div>
                </div>
                <p class="soc-comment__text rtl-text">I was searching for information on <a href="#" class="link">Green Coffee</a> Thanks for this detailed opinion!</p>
                <div class="soc-comment__lower">
                    <span class="soc-comment__reply rtl-text">Reply</span>
                </div>                        
            </div>

            <!-- user two -->
            <div class="soc-comment-block soc-comment-block__indent">
                <div class="soc-comment__upper">
                    <ul class="soc-user-list">
                        <li class="soc-user-list__name rtl-text">Daniel</li>
                        <li class="soc-user-list__date rtl-text">07.04.2020</li>
                    </ul>
                    <div class="soc-user__avatar">
                        <img src="./img/user2.jpg" alt="Green Coffee Slim">
                    </div>
                </div>
                <p class="soc-comment__text rtl-text">It is the absolute truth! I took this medicine a year ago and lost 19 kg in a month! My weight was decreasing every day! A year has passed since then and my weight is still healthy. I weigh 49 kg!</p>
                <div class="soc-comment__img">
                    <img src="./img/user2-result.jpg" alt="Green Coffee Slim" class="img-fluid">
                </div>
                <div class="soc-comment__lower">
                    <span class="soc-comment__reply rtl-text">Reply</span>
                </div>                        
            </div>

            <!-- user three -->
            <div class="soc-comment-block soc-comment-block__indent">
                <div class="soc-comment__upper">
                    <ul class="soc-user-list">
                        <li class="soc-user-list__name rtl-text">Brian Ward</li>
                        <li class="soc-user-list__date rtl-text">09.04.2020</li>
                    </ul>
                    <div class="soc-user__avatar">
                        <img src="./img/user3.jpg" alt="Green Coffee Slim">
                    </div>
                </div>
                <p class="soc-comment__text soc-comment__text_indent1 rtl-text">I was just taking here for a very low price. It works perfectly! Feel better and have a solid iron erection for a long time. In addition, she lost 26 kg. What a nice bonus!</p>
                <div class="soc-comment__img">
                    <img src="./img/user3-result.jpg" alt="Green Coffee Slim" class="img-fluid">
                </div>
                <div class="soc-comment__lower">
                    <span class="soc-comment__reply rtl-text">Reply</span>
                </div>                        
            </div>

            <!-- user four -->
            <div class="soc-comment-block soc-comment-block__indent">
                <div class="soc-comment__upper">
                    <ul class="soc-user-list">
                        <li class="soc-user-list__name rtl-text">Brian Ward</li>
                        <li class="soc-user-list__date rtl-text">09.04.2020</li>
                    </ul>
                    <div class="soc-user__avatar">
                        <img src="./img/user4.jpg" alt="Green Coffee Slim">
                    </div>
                </div>
                <p class="soc-comment__text rtl-text">I completely agree with you! <a href="#" class="link">Green Coffee</a> and my belly fat literally disappeared in a month!</p>
                <div class="soc-comment__img">
                    <img src="./img/user4-result.jpg" alt="Green Coffee Slim" class="img-fluid">
                </div>
                <div class="soc-comment__lower">
                    <span class="soc-comment__reply rtl-text">Reply</span>
                </div>                        
            </div>

            <!-- user five -->
            <div class="soc-comment-block">
                <div class="soc-comment__upper">
                    <ul class="soc-user-list">
                        <li class="soc-user-list__name rtl-text">Mahmud</li>
                        <li class="soc-user-list__date rtl-text">14.04.2020</li>
                    </ul>
                    <div class="soc-user__avatar">
                        <img src="./img/user5.jpg" alt="Green Coffee Slim">
                    </div>
                </div>
                <p class="soc-comment__text rtl-text">Your erection will definitely be stronger when you cleanse your body of all toxins.</p>
                <div class="soc-comment__lower">
                    <span class="soc-comment__reply rtl-text">Reply</span>
                </div>                        
            </div>

            <!-- user six -->
            <div class="soc-comment-block">
                <div class="soc-comment__upper">
                    <ul class="soc-user-list">
                        <li class="soc-user-list__name rtl-text">Hailey</li>
                        <li class="soc-user-list__date rtl-text">15.04.2020</li>
                    </ul>
                    <div class="soc-user__avatar">
                        <img src="./img/user6.jpg" alt="Green Coffee Slim">
                    </div>
                </div>
                <p class="soc-comment__text rtl-text">Has any of you asked for it yet? How long did it take to deliver?</p>
                <div class="soc-comment__lower">
                    <span class="soc-comment__reply rtl-text">Reply</span>
                </div>                        
            </div>

             <!-- user seven -->
            <div class="soc-comment-block soc-comment-block__indent">
                <div class="soc-comment__upper">
                    <ul class="soc-user-list">
                        <li class="soc-user-list__name rtl-text">Anbara al-M</li>
                        <li class="soc-user-list__date rtl-text">19.04.2020</li>
                    </ul>
                    <div class="soc-user__avatar">
                        <img src="./img/user7.jpg" alt="Green Coffee Slim">
                    </div>
                </div>
                <p class="soc-comment__text soc-comment__text_indent1 rtl-text">I requested it from the official site. Delivery was fast, only took two days. My coach asked me to take it. The results are great! I lost 31 kg over two and a half months.</p>
                <div class="soc-comment__img">
                    <img src="./img/user7-result.jpg" alt="Green Coffee Slim" class="img-fluid">
                </div>
                <div class="soc-comment__lower">
                    <span class="soc-comment__reply rtl-text">Reply</span>
                </div>                        
            </div>

            <!-- user eight -->
            <div class="soc-comment-block">
                <div class="soc-comment__upper">
                    <ul class="soc-user-list">
                        <li class="soc-user-list__name rtl-text">Chanya</li>
                        <li class="soc-user-list__date rtl-text">24.04.2020</li>
                    </ul>
                    <div class="soc-user__avatar">
                        <img src="./img/user8.jpg" alt="Green Coffee Slim">
                    </div>
                </div>
                <p class="soc-comment__text soc-comment__text_indent2  rtl-text">I watched a TV program with Dr. Salem Bashandy and other famous doctors talking about this medicine. They said that 98% of cases of weight gain are caused by endocrine disorders, high levels of sugar and cholesterol in the blood, and the unit of metabolism.</p>
                <div class="soc-comment__lower">
                    <span class="soc-comment__reply rtl-text">Reply</span>
                </div>                        
            </div>

            <div class="soc-register-block rtl-text">Register to post a comment</div>

        </div>

        <div class="order_wrap">
            <a class="btn-offer rtl-text" href="#">TAKE ME TO THE OFFER</a>
        </div>    

</section>