

@font-face {
    font-family: 'Kelly Slab';
    src: url('../fonts/kellyslab-regular/kellyslab-regular.eot');
    src: url('../fonts/kellyslab-regular/kellyslab-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kellyslab-regular/kellyslab-regular.woff2') format('woff2'),
         url('../fonts/kellyslab-regular/kellyslab-regular.woff') format('woff'),
         url('../fonts/kellyslab-regular/kellyslab-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Caveat';
    src: url('../fonts/caveat-regular/caveat-regular.eot');
    src: url('../fonts/caveat-regular/caveat-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/caveat-regular/caveat-regular.woff2') format('woff2'),
         url('../fonts/caveat-regular/caveat-regular.woff') format('woff'),
         url('../fonts/caveat-regular/caveat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Russo One';
    src: url('../fonts/russoone-regular/russoone-regular.eot');
    src: url('../fonts/russoone-regular/russoone-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/russoone-regular/russoone-regular.woff2') format('woff2'),
         url('../fonts/russoone-regular/russoone-regular.woff') format('woff'),
         url('../fonts/russoone-regular/russoone-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

