

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/opensans-regular/opensans-regular.eot');
    src: url('../fonts/opensans-regular/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular/opensans-regular.woff2') format('woff2'),
         url('../fonts/opensans-regular/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular/opensans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/roboto-regular/roboto-regular.eot');
    src: url('../fonts/roboto-regular/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular/roboto-regular.woff2') format('woff2'),
         url('../fonts/roboto-regular/roboto-regular.woff') format('woff'),
         url('../fonts/roboto-regular/roboto-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/helveticaneuecyr/helveticaneuecyr.eot');
    src: url('../fonts/helveticaneuecyr/helveticaneuecyr.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr/helveticaneuecyr.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr/helveticaneuecyr.woff') format('woff'),
         url('../fonts/helveticaneuecyr/helveticaneuecyr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

