

//fonts
$font-basic: 'Open Sans Regular', sans-serif;
$font-second: 'Roboto Regular', sans-serif;
$font-third: 'HelveticaNeueCyr', sans-serif;


//color//
$main-title				 : #553E29;
$basic-text				 : #5A5A5A;
$form_headers2			 : #000;
$figure                  : #F0BF36;
$figure2                 : #F8F8F8;
$accent			         : #689038;
$components				 : #EFEFEF;
$buttons				 : #6AA13C;
$circle-price            : #cf3232;
$border-promo-price      : #FFC107;
$border-timer-price      : #BDBDBD;
$shadow-promo-price      : #b6b6b6;
$shadow-offer-buy        : #8f8f8f;
$shadow-brand-new        : #939393;
$block-promo-price       : #fff;
$promo-form-input        : #EDEDED;
$customer-age			 : #858585;
$contacts-nav            : #151515;			
$white                   : #fff;
$black					 : #000;


//font-size
$font-title_xl           : 55px;
$font-title_xl-media-md  : 45px;
$font-title_xl-media-sm  : 30px; 
$font-title_lg           : 50px;
$font-title_lg-media-md  : 35px;
$font-title_lg-media-sm1 : 25px;
$font-title_lg-media-sm2 : 20px;
$font-logo               : 20px;
$font-title_md           : 20px;
$font-title-md1          : 24px;
$font-title-pop          : 36px;
$font-md                 : 20px;
$font-sm                 : 18px;
$font-xs                 : 16px;
$font-2xs                : 14px;
$font-3xs                : 12px;
$font-4xs                : 10px;


//font-weght
$normal					 : 400;
$semi-bold_1             : 500;
$semi-bold_2             : 550;
$semi-bold_3             : 600;
$bold               	 : 700;

//border-radius
$main-radius             : 35px;
$second-radius           : 25px;
$third-radius            : 10px;





 		