 body{
      background: rgb(209, 209, 214)
    }
    #container{
      font-family: 'Mansalva', cursive;
      margin: 40px auto;
      width: 930px;
      height: 650px;
      position: relative;
      background: #fff;
      padding: 40px  0;
      text-align: center;
      overflow: hidden;
      border-radius: 30px;         
      box-shadow: 0 8px 8px rgba(0, 0, 0, .6), 0 0 8px rgba(0, 0, 0, .4);
      background: url('../img/Tick-tack-toe.jpg') no-repeat 50%/cover;
    }
    #container:before{
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: rgba(28, 28, 30, .8);
    }
    h1{
     position: relative; 
     letter-spacing: 2px;
     font-size: 53px;
     padding: 9px 0;   
     background: linear-gradient(to left,transparent 20%, rgb(242, 242, 247), transparent 80%);
    }
    p{
      position: relative; 
      padding: 0 39% 0 0; 
      background: linear-gradient(to right, rgb(242, 242, 247) 30%, transparent 80%);
      letter-spacing: 2px;
      font-size: 53px;
      left: -100%;
      transition: left .8s ease;            
    }
    p:first-letter{
      text-transform: uppercase;
      padding-right: 10px;
    }

    #TickTackToe{      
      margin: 40px auto;
      position: relative;
    }
    [class^=crossed]:before{
      content: "";
      z-index: 10;
      position: absolute;                
    }
    [class^=crossedX]:before{
      height: 5px;
      left: 9px;
      right: 9px;      
      background: linear-gradient(to left,transparent, rgb(242, 242, 247)10%, rgb(242, 242, 247)90%, transparent);      
    }
    .crossedX1:before{            
      top: 54px;
    }
    .crossedX2:before{          
      top: 159px;
    }
    .crossedX3:before{           
      top: 264px;
    }
    [class^=crossedY]:before{
      width: 5px;
      top: 9px;
      bottom: 9px;      
      background: linear-gradient(to top,transparent, rgb(242, 242, 247)10%, rgb(242, 242, 247)90%, transparent);      
    }
    .crossedY1:before{
      left: 48px;
    }
    .crossedY2:before{
      left: 160px;
    }
    .crossedY3:before{
      left: 273px;
    }
    .crossedAngleLeft:before{
      width: 5px;
      left: 43px;
      top: 50px;
      bottom: -132px;
      transform-origin: top;
      transform: rotate(-47deg) translateY(-40px);   
      background: linear-gradient(to top,transparent, rgb(242, 242, 247)10%, rgb(242, 242, 247)90%, transparent); 
    }
    .crossedAngleRight:before{
      width: 5px;
      left: 247px;
      top: 80px;
      bottom: -181px;
      transform-origin: top;
      transform: rotate(47deg) translateY(-90px);
      background: linear-gradient(to top,transparent, rgb(242, 242, 247)10%, rgb(242, 242, 247)90%, transparent); 
    }   
    td{      
      padding: 5px;
      width: 105px;
      height: 105px;
      position: relative;
      color: rgb(242, 242, 247);
      font-size: 50px;
      cursor: pointer;   
      border-collapse: collapse;
      text-transform: uppercase;
      text-align: center;         
    }  
    tr:nth-child(2) td:nth-child(1):after{
      content:"";      
      position: absolute;
      top: -97px;
      bottom: -102px;
      right: -5px;
      width: 10px;
      background: linear-gradient(to top,transparent, rgb(209, 209, 214)10%, rgb(209, 209, 214)80%, transparent);
      transform-origin: center;
      transform: rotate(-2deg);     
    }
    tr:nth-child(2) td:nth-child(2){
      width: 120px;
            
    }
    tr:nth-child(2) td:nth-child(2):before{
      content:"";
      position: absolute;
      left: -127px;
      right: -125px;
      top: -12px;
      height: 10px;
      background: linear-gradient(to right,transparent, rgb(209, 209, 214)10%,rgb(209, 209, 214)58%,transparent 64%,rgb(209, 209, 214)75%, rgb(209, 209, 214)80%, transparent);
      transform-origin: center;
      transform: rotate(4deg); 
    }
    tr:nth-child(2) td:nth-child(2):after{
      content:"";
      position: absolute;
      left: -158px;
      right: -99px;
      bottom: -12px;
      height: 9px;
      background: linear-gradient(to left,transparent, rgb(242, 242, 247)10%,rgb(242, 242, 247)30%,transparent 50%,rgb(242, 242, 247)60%, rgb(242, 242, 247)80%, transparent);
      transform-origin: center;
      transform: rotate(-5deg);
    }  
    tr:nth-child(2) td:nth-child(3):after{
      content:"";
      position: absolute;
      top: -111px;
      bottom: -132px;
      left: -12px;
      width: 8px;
      background: linear-gradient(to bottom,transparent, rgb(242, 242, 247)10%, rgb(242, 242, 247)80%, transparent);
      transform-origin: center;
      transform: rotate(5deg);
    } 
    #playAgain{
      position: absolute;
      font-size: 40px;      
      padding: 5px 45px 5px 0;
      letter-spacing: 2px;
      font-weight: 500;
      top: 50%;
      right: 0;color: rgb(242, 242, 247);
      border: none;
      border-radius: 0;
      opacity: 0;
      transform: translateY(-50%);      
      overflow: hidden;
    }
    #playAgain:after{
      content: "?";
      position: absolute;
      right: 20px;
      top: 11%;
      opacity: 1;
      background: none;
      transition: top linear .3s, opacity ease .2s;
    }
    #playAgain:before{
      content: "!";
      position: absolute;
      font-size: 45px;
      right: 23px;
      top: -775%;
      opacity: 0;
      transition: top linear .3s, opacity ease .2s;
    }
    #playAgain:hover,#playAgain:active{
       color: rgb(242, 242, 247);
       text-shadow: 0 5px 5px rgba(242, 242, 247, .5), 0 0 5px rgba(242, 242, 247, .4);
       background: none;
       outline: none;
       box-shadow: none;     
    }
    #playAgain:hover:after{
      top: 100%;
      opacity: 0;
    }
    #playAgain:hover:before{
      top: 3%;
      opacity: 1;
    }