    body{
      background: rgb(209, 209, 214)
    }
    .container{
      padding: 0 105px;
    }
    #container{
      font-family: 'Mansalva', cursive;
      margin: 40px auto;      
      height: 650px;
      position: relative;
      background: #fff;
      padding: 40px  0;
      text-align: center;
      overflow: hidden;
      border-radius: 30px;
      border: 5px solid rgba(242, 242, 247, .8);         
      box-shadow: 0 8px 8px rgba(0, 0, 0, .6), 0 0 8px rgba(0, 0, 0, .4);
      background: url('../img/Tick-tack-toe.jpg') no-repeat 50%/cover;
    }
    #container:before{
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: rgba(28, 28, 30, .8);     
    }
    h1{
     position: relative; 
     letter-spacing: 1px;
     font-size: 53px;
     padding: 9px 0;   
     background: linear-gradient(to left,transparent 20%, rgb(242, 242, 247), transparent 80%);
    }
    p{
      position: relative; 
      padding: 0 39% 0 0; 
      background: linear-gradient(to right, rgb(242, 242, 247) 30%, transparent 80%);
      letter-spacing: 1px;
      font-size: 53px;
      left: -100%;
      transition: left .8s ease;            
    }
    p:first-letter{
      text-transform: uppercase;
      padding-right: 10px;
    }

    #TickTackToe{      
      margin: 40px auto;
      position: relative;
    }
    [class^=crossed]:before{
      content: "";
      z-index: 10;
      position: absolute;                
    }
    [class^=crossedX]:before{
      height: 2%;
      left: 1%;
      right: 1%;      
      background: linear-gradient(to left,transparent, rgb(242, 242, 247)10%, rgb(242, 242, 247)90%, transparent);      
    }
    .crossedX1:before{            
      top: 16%;
    }
    .crossedX2:before{          
      top: 50%;
    }
    .crossedX3:before{           
      top: 83%;
    }
    [class^=crossedY]:before{
      width: 2%;
      top: 1%;
      bottom: 1%;      
      background: linear-gradient(to top,transparent, rgb(242, 242, 247)10%, rgb(242, 242, 247)90%, transparent);      
    }
    .crossedY1:before{
      left: 15%;
    }
    .crossedY2:before{
      left: 48.5%;
    }
    .crossedY3:before{
      left: 82.6%;
    }
    .crossedAngleLeft:before{
      width: 1.5%;
      left: 13.1%;
      top: 16%;
      bottom: -42%;
      transform-origin: top;
      transform: rotate(-47deg) translateY(-40px);   
      background: linear-gradient(to top,transparent, rgb(242, 242, 247)10%, rgb(242, 242, 247)90%, transparent); 
    }
    .crossedAngleRight:before{
      width: 1.5%;
      left: 75%;
      top: 25.4%;
      bottom: -59.5%;
      transform-origin: top;
      transform: rotate(47deg) translateY(-90px);
      background: linear-gradient(to top,transparent, rgb(242, 242, 247)10%, rgb(242, 242, 247)90%, transparent); 
    }   
    td{      
      padding: 5px;
      width: 105px;
      height: 105px;
      position: relative;
      color: rgb(242, 242, 247);
      font-size: 60px;
      cursor: pointer;   
      border-collapse: collapse;
      text-transform: uppercase;
      text-align: center;         
    }  
    tr:nth-child(2) td:nth-child(1):after{
      content:"";      
      position: absolute;
      top: -93%;
      bottom: -97%;
      right: -5%;
      width: 10px;
      background: linear-gradient(to top,transparent, rgb(209, 209, 214)10%, rgb(209, 209, 214)80%, transparent);
      transform-origin: center;
      transform: rotate(-2deg);     
    }
    tr:nth-child(2) td:nth-child(2){
      width: 120px;            
    }
    tr:nth-child(2) td:nth-child(2):before{
      content:"";
      position: absolute;
      left: -106%;
      right: -104%;
      top: -11%;
      height: 10px;
      background: linear-gradient(to right,transparent, rgb(209, 209, 214)10%,rgb(209, 209, 214)58%,transparent 64%,rgb(209, 209, 214)75%, rgb(209, 209, 214)80%, transparent);
      transform-origin: center;
      transform: rotate(4deg); 
    }
    tr:nth-child(2) td:nth-child(2):after{
      content:"";
      position: absolute;
      left: -132%;
      right: -82%;
      bottom: -11%;
      height: 9px;
      background: linear-gradient(to left,transparent, rgb(242, 242, 247)10%,rgb(242, 242, 247)30%,transparent 50%,rgb(242, 242, 247)60%, rgb(242, 242, 247)80%, transparent);
      transform-origin: center;
      transform: rotate(-5deg);
    }  
    tr:nth-child(2) td:nth-child(3):after{
      content:"";
      position: absolute;
      top: -106%;
      bottom: -126%;
      left: -11%;
      width: 8px;
      background: linear-gradient(to bottom,transparent, rgb(242, 242, 247)10%, rgb(242, 242, 247)80%, transparent);
      transform-origin: center;
      transform: rotate(5deg);
    } 
    #playAgain{
      display: none;      
      position: absolute;
      font-size: 40px;      
      padding: 5px 45px 5px 0;
      letter-spacing: .5px;
      font-weight: 500;
      top: 50%;
      right: 0;
      color: rgb(242, 242, 247);
      border: none;
      border-radius: 0;
      opacity: 0;
      transform: translate(0,-50%);      
      overflow: hidden;
    }    
 
    #playAgain:after{
      content: "?";
      position: absolute;
      right: 20px;
      top: 11%;
      opacity: 1;
      background: none;
      transition: top linear .3s, opacity ease .2s;
    }    
    #playAgain:before{
      content: "!";
      position: absolute;
      font-size: 45px;
      right: 23px;
      top: -775%;
      opacity: 0;
      transition: top linear .3s, opacity ease .2s;
    }
    #playAgain:hover,#playAgain:active,#playAgain:focus{
       color: rgb(242, 242, 247);
       text-shadow: 0 5px 5px rgba(242, 242, 247, .5), 0 0 5px rgba(242, 242, 247, .4);
       background: none;
       outline: none;
       box-shadow: none;     
    }
    #playAgain:hover:after,#playAgain:active:after,#playAgain:focus:after{
      top: 100%;
      opacity: 0;
    }
    #playAgain:hover:before,#playAgain:active:before,#playAgain:focus:before{
      top: 3%;
      opacity: 1;
    }
    @media (max-width: 1200px){
      body .container{
      padding: 0 5px;
    }
    }

    @media (max-width: 991px){
     #container #playAgain{
      width: 153px;
      }
     .container #playAgain:after{
        top: 50%;
        right: 25px;
     }        
     .container #playAgain:before{
        right: 29px;
     }
     .container #playAgain:hover:before,#playAgain:active:before,#playAgain:focus:before{
      top: 46%;      
    }    
    }

    @media (max-width: 767px){
    .container #TickTackToe{      
      margin: 40px auto 0 80px;      
    }
    .container h1{     
     font-size: 45px;
     text-align: left;
     padding: 9px 0 9px 25px; 
     background: linear-gradient(to right, rgb(242, 242, 247) 30%, transparent 80%);
    }
    .container p{
      margin: 45px 0 20px 0;
      font-size: 45px;
      text-align: left;
      padding: 9px 0 9px 25px;                  
    } 
    .container #container {
      height: 575px;
    }

    #TickTackToe td {
        width: 84px;
        height: 84px;
        font-size: 45px;
    } 
    #TickTackToe tr:nth-child(2) td:nth-child(2){
        width: 96px;            
    }    
    }

    @media (max-width: 575px){

      #container #playAgain{
      width: 130px;
      padding-right: 25px;     
    }
      #container #playAgain:after{     
        top: 7%;
        right: 10px; 
    }
      #container #playAgain:before{     
        top: -5%;
        right: 14px; 
    }
    }
  

    @media (max-width: 480px){
    
    body .container #container {
      height: 545px;
    }
    body .container #TickTackToe {
      margin: 33px auto 0 40px;
    }
    body .container #TickTackToe td{      
      margin: 40px auto 0 30px;
      width: 70px;
      height: 70px;
      font-size: 38px;     
    }
    body .container #TickTackToe tr:nth-child(2) td:nth-child(2){
        width: 80px;            
    } 
    }

   