<section class="content-story">
    <p class="content__text">Hello, guys! Everybody has noticed that <a class="link" href="#">I have lost a lot of weight</a> and started bombarding me with questions. I was trying my best to write an answer to everyone and support all of you, but failed - with so many messages to respond to I would have to live online. So, I decided to write this post to answer to the question: "How did you manage to lose 31 kg?" (That doesnвЂ™t mean you can't write to me or ask something, it just makes my life easier).</p>


    <h3 class="story__title pre-line-text">My transformation took me TWO MONTHS only! AMAZING RESULT, 
    RIGHT?</h3>


    <div class="story__img-block">
        <img alt="Green Coffee Slim" class="img-fluid" src="./img/story1.jpg">
    </div>

    <p class="content__text content__text_indent1">IвЂ™ve never been skinny but I noticed that I kept gaining more and more weight. Three terrible creases appeared on my belly, I looked like a bulldog in bikini, and my hips, legs and butt were getting bigger and bigger! <span class="text-bold">I decided to get a fit and healthy body by all means,</span> so I stopped eating greasy and fried food and gave up hearty late meals. I went for the morning run and evening training sessions in the gym but instead of losing weight, I continued gaining more and more! After a month, my weight reached the terrifying mark вЂ“ ALMOST 100KG! I kept making my diet more and stricter, excluding meat, bread, fries, and sweets. I ended up eating fruits and vegetables and drinking nothing but water. I tried some terribly expensive weight loss teas and pills but <span class="text-bold">nothing seemed to work for me.</span> After a while, the lost weight would come back to my exhausted body.</p>    

    <h3 class="story__title pre-line-text">Neither diets nor pills help, they are just a rip-off!
    Working out is too hard and takes too long to see any progress. So what 
    should I do?</h3>

    <p class="content__text content__text_indent2">After heaps of diets, pills and hours in the gym and thousands of money paid to the personal instructor I gave up completely. One day I ran into an article about the <a class="link" href="#">Green Coffee</a> and decided to try it. Although I heard many other celebs were losing weight with this coffee in grains I was skeptical. But having tried everything and getting desperate I had no choice! besides, I checked the reviews and they were impressive indeed!</p>

    <h3 class="story__title story__title_indent pre-line-text">Millions of women in Europe and US got rid of their extra pounds thanks
    to Green Coffee. According to the research, 96.7% lost 12-17 kg in three 
    weeks!</h3>

    
    <div class="story__img-block">
        <img alt="Green Coffee Slim" class="img-fluid" src="./img/green-beans.jpg">
    </div>
    
    <p class="content__text content__text_indent3">So, it was settled! <a class="link" href="#">I went on their website,</a> double-checked everything and ordered the coffee. It came within a couple of weeks. I read the instructions and started drinking 2 or 3 cups daily, with breakfast and lunch.</p>

    <h3 class="story__title story__title_left">Results</h3>

    <p class="content__text"><span class="text-bold">After only two weeks, my results were stunning – I lost 6 kg!</span> The puffiness was gone and my complexion got much better!
    The hips and belly became notably smaller - and my mood became better! I started to believe I could become beautiful again without any dieting or exercising!
    So, <span class="text-bold">I continued eating everything I wanted</span>! I was too sick and tired of starving and working out...</p>
  
    
    <p class="content__text"><span class="text-bold">By the end of the third week, I lost another 12 kg!</span> I became more fit and that inspired me to climb the stairs instead of using elevator every time. What seemed to be a tough workout became an easy pleasure for me! I couldn't believe it happened just because I was following those simple instructions
    on the coffee pack! If I could do it - everyone can! Only two months passed and my 31kg were gone!
    </p>

    <p class="content__text text-bold content__text_indent4">I archived my goal weight within 60 days. My belly was gone, I lost 31 kg and got the body I had never dared to dream about!</p>

    <h3 class="story__title pre-line-text">By the way, Green Coffee was tested by the National Academy of
    Sciences in 2014. The results would have been a bomb but they never 
    made public. I reckon that was because they would make pharmaceutical
    companies, fitness clubs, nutritionists and overpriced clinics go broke!
    No wonder: Green Coffee is ridiculously cheap!</h3>

    <div class="story__img-block">
        <div class="img-block-border"> 
            <img alt="Green Coffee Slim" class="img-fluid" src="./img/coffe-green-box.png">
        </div>
    </div>

    <p class="content__text content__text_indent5">Now I keep recommending <a href="#" class="link">Green Coffee</a> to my friends and colleges. Important: <a href="#" class="link">order from the official product website</a> otherwise you might get a fake.
        I am happy with my results and I believe that you will be happy too! Forget the stereotypes: you don't need any diets and workouts to have a nice figure!
    </p>

    <p class="content__text"><i>P.S. Everyone who lost weight by just drinking green coffee, please, feel free to share you results right here! You will help to persuade other people that it really helps! Cheers!</i>
    </p>

    <div class="order_wrap">
        <a class="btn-offer" href="">TAKE ME TO THE OFFER</a>
    </div>

    <p class="content__text">Hey there! I got great news! The <a href="#" class="link">Green Coffee</a> company representatives contacted me to offer a 50% discount to the first 100 visitors
    of my blog who make <a href="#" class="link">an order here!</a>
    </p>

</section>