<header class="header">

    <div class="row">            
        <h1 class="header__title">Adeola Iwu 's Blog</h1>
        <nav class="navbar">  
            <ul class="navbar-nav">
                <li class="nav__item">
                    <a href="#" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">About Adeola Iwu </a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Contacts Adeola Iwu</a>
                </li>
            </ul>
        </nav>    
    </div>
    
</header>