<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PRE-LAND_GREEN_COFFEE_SLIM#3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="favicon/icon-bean.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
</head>

<body>
    <!-- HEADER -->
    //= header.html

    <div class="row">
        <div class="content">
            <div class="logo-image">
                <img alt="Green Coffee Slim"  class="img-fluid" src="./img/logo.jpg">
            </div>

            <h2 class="content__title">How I went from 85kg to 54kg in 2 months only</h2>
           
            <!-- CONTENT STORY -->
            //= content-story.html
             <!-- END CONTENT STORY -->

            <!-- BEGIN SOCIAL NETWORK COMMENTS -->
            //= social-net.html
            <!-- END SOCIAL NETWORK COMMENTS -->

            <div class="order_wrap">
                <a class="btn-offer" href="">TAKE ME TO THE OFFER</a>
            </div>          
            
        </div>
    </div>

    <!-- FOOTER -->
    <footer></footer>

    <div class="ac_footer">
        <a href="#">Report</a>        
    </div> 

</body>

</html>