<section class="social-net-wrapper">                                    
    <h4 class="social-net-title">Comments:</h4>                        
   
    <div class="social-net-container">

        <!-- COMMENT ONE -->
        <ul class="social-net-block social-net-indent1">
            <li class="social-net-avatar">
                <img alt="Green Coffee Slim" src="./img/social-user1.jpg">
            </li>
            <li class="social-net-comment">
                <ul class="social-net-list">
                    <li class="social-net-item">
                        <span class="social-net-name">Saaliha</span>
                        <span class="social-net-date">03.11.2020</span>
                        <svg class="facebook-icon">
                            <use xlink:href="./img/symbol/svg-sprite.svg#facebook"></use>
                        </svg>
                    </li>                               
                    <li class="social-net-text">Dear Adeola, thank you for inspiring me to finally get rid of those
                    dreadful kg! Three weeks passed and I have lost 28 kg. My weight is now
                    57 kg, and as you promised, itвЂ™s no longer fluctuating. Best wishes, Suman.</li>
                    <li class="social-net-img">
                        <img alt="Green Coffee Slim" class="img-fluid" src="./img/user1result.jpg">
                    </li>                                
                </ul>
            </li> 
        </ul>

        <!-- COMMENT TWO -->
        <ul class="social-net-block social-net-indent2">
            <li class="social-net-avatar social-avatar-indent">
                <img alt="Green Coffee Slim" src="./img/social-user2.jpg">
            </li>
            <li class="social-net-comment">
                <ul class="social-net-list social-net-list_indent">
                    <li class="social-net-item">
                        <span class="social-net-name">Iyaad al-Sadri</span>
                        <span class="social-net-date social-net-date_indent">08.11.2019</span>
                        <svg class="facebook-icon">
                            <use xlink:href="./img/symbol/svg-sprite.svg#facebook"></use>
                        </svg>
                    </li>  
                    <li class="social-net-text">I had been dreaming of a slim body for a long time, read about <a href="#" class="link">Green Coffee</a> on this page three month ago. I had been hesitating to order but got persuaded by my mom. It is not a big price to pay for a dream come true! Now we are losing weight together. She is more success than me though</li>                                                
                </ul>
            </li> 
        </ul>

        <!-- COMMENT THREE -->
        <ul class="social-net-block social-net-indent4">
            <li class="social-net-avatar social-avatar-indent">
                <img alt="Green Coffee Slim" src="./img/social-user3.jpg">
            </li>
            <li class="social-net-comment">
                <ul class="social-net-list social-net-list_indent">
                    <li class="social-net-item">
                        <span class="social-net-name">Anbara al-M.</span>
                        <span class="social-net-date">11.11.2019</span>
                        <svg class="facebook-icon">
                            <use xlink:href="./img/symbol/svg-sprite.svg#facebook"></use>
                        </svg>
                    </li>  
                    <li class="social-net-text pre-line-text social-net-text-indent3">I ordered this coffee 3 weeks ago, although at that time they were not in stock. After I got them, the results are really incredible, I did not think that natural medicines can work so well.</li>                               
                    <li class="social-net-img">
                        <img alt="Green Coffee Slim" class="img-fluid" src="./img/user3result.jpg">
                    </li>
                </ul>
            </li> 
        </ul>

        <!-- COMMENT FOUR -->
        <ul class="social-net-block social-net-indent3">
            <li class="social-net-avatar">
                <img alt="Green Coffee Slim" src="./img/social-user4.jpg">
            </li>
            <li class="social-net-comment">
                <ul class="social-net-list">
                    <li class="social-net-item">
                        <span class="social-net-name">Muna</span>
                        <span class="social-net-date">11.11.2019</span>
                        <svg class="facebook-icon">
                            <use xlink:href="./img/symbol/svg-sprite.svg#facebook"></use>
                        </svg>
                    </li>  
                    <li class="social-net-text pre-line-text social-net-text-indent2">So happy that I found this blog. Certainly gonna try this coffee! Thanks</li>                  
                </ul>
            </li> 
        </ul>

        <!-- COMMENT FIVE -->
        <ul class="social-net-block social-net-indent5">
            <li class="social-net-avatar social-avatar-indent">
                <img alt="Green Coffee Slim" src="./img/social-user5.jpg">
            </li>
            <li class="social-net-comment">
                <ul class="social-net-list social-net-list_indent">
                    <li class="social-net-item">
                        <span class="social-net-name">Marwa</span>
                        <span class="social-net-date">23.11.2019</span>
                        <svg class="facebook-icon">
                            <use xlink:href="./img/symbol/svg-sprite.svg#facebook"></use>
                        </svg>
                    </li>
                    <li class="social-net-text pre-line-text">Hey ladies, I am joining the slim-team soon!! I just received my <a href="#" class="href">Green Coffee!</a> Thank you for sharing your results and they motivated me to begin the course. Hopefully IвЂ™ll finally get rid of all the fat. IвЂ™ll write here about my progress as well xoxo</li>                                
                </ul>
            </li> 
        </ul>

        <!-- COMMENT SIX -->
        <ul class="social-net-block social-net-indent4">
            <li class="social-net-avatar social-avatar-indent">
                <img alt="Green Coffee Slim" src="./img/social-user6.jpg">
            </li>
            <li class="social-net-comment">
                <ul class="social-net-list social-net-list_indent">
                    <li class="social-net-item">
                        <span class="social-net-name">Saaliha</span>
                        <span class="social-net-date">23.11.2019</span>
                        <svg class="facebook-icon">
                            <use xlink:href="./img/symbol/svg-sprite.svg#facebook"></use>
                        </svg>
                    </li>
                    <li class="social-net-text pre-line-text social-net-text-indent4">I am having a date tomorrow and we are going out to dine in some fancy place. Some weeks ago a single thought of going there and eating the food without knowing how many calories in contains would be a nightmare. Now I donвЂ™t care! I know can eat whatever I want and I will not gain anymore. I lost 27.5 kg with the help of Green Coffee just in a month! Thank you, Adeola Iwu!</li>
                    <li class="social-net-img">
                        <img alt="Green Coffee Slim" class="img-fluid" src="./img/user6result.jpg">
                    </li>                                
                </ul>
            </li> 
        </ul>

        <!-- COMMENT SEVEN -->
        <ul class="social-net-block social-net-indent6">
            <li class="social-net-avatar">
                <img alt="Green Coffee Slim" src="./img/social-user7.jpg">
            </li>
            <li class="social-net-comment">
                <ul class="social-net-list">
                    <li class="social-net-item">
                        <span class="social-net-name">Saaliha</span>
                        <span class="social-net-date">23.11.2019</span>
                        <svg class="facebook-icon">
                            <use xlink:href="./img/symbol/svg-sprite.svg#facebook"></use>
                        </svg>
                    </li>
                    <li class="social-net-text pre-line-text social-net-text-indent5">Dear Adeola! Thank you so much! I lost weight very quickly but more importantly, itвЂ™s not coming back as it used to! ThatвЂ™s a miracle! I recommended coffee to my girls because I canвЂ™t see them starve themselves to death anymore.</li>
                    <li class="social-net-img">
                        <img alt="Green Coffee Slim" class="img-fluid" src="./img/user7result.jpg">
                    </li>                               
                </ul>
            </li> 
        </ul>

        <!-- COMMENT EIGHT -->
        <ul class="social-net-block social-net-indent7">
            <li class="social-net-avatar">
                <img alt="Green Coffee Slim" src="./img/social-user8.jpg">
            </li>
            <li class="social-net-comment">
                <ul class="social-net-list">
                    <li class="social-net-item">
                        <span class="social-net-name">Aline Matte</span>
                        <span class="social-net-date">23.11.2019</span>
                        <svg class="facebook-icon">
                            <use xlink:href="./img/symbol/svg-sprite.svg#facebook"></use>
                        </svg>
                    </li>
                    <li class="social-net-text pre-line-text social-net-text-indent3">Being fat your whole life and becoming slim in a month - this is awesome! I'm very happy
                    with the product <a href="#" class="link upper-text">GREEN & COFFEE.</a></li>   
                </ul>
            </li> 
        </ul>

        <!-- COMMENT NINE -->
        <ul class="social-net-block social-net-indent4">
            <li class="social-net-avatar">
                <img alt="Green Coffee Slim" src="./img/social-user9.jpg">
            </li>
            <li class="social-net-comment">
                <ul class="social-net-list">
                    <li class="social-net-item">
                        <span class="social-net-name">Aamina</span>
                        <span class="social-net-date">23.11.2019</span>
                        <svg class="facebook-icon">
                            <use xlink:href="./img/symbol/svg-sprite.svg#facebook"></use>
                        </svg>
                    </li>
                    <li class="social-net-text pre-line-text social-net-text-indent3">I followed your advice and tried <a href="#" class="link">Green Coffee</a> and wellвЂ¦ you have actually saved my family and my marriage =) Adeola, you are amazing girl! My husband has changed a lot towards me recently, I gained self-confidenceвЂ¦ Now I feel GREAT! =)</li>                               
                    <li class="social-net-img">
                        <img alt="Green Coffee Slim" class="img-fluid" src="./img/user9result.jpg">
                    </li>
                </ul>
            </li> 
        </ul>

    </div>           
        
</section>