    @font-face {
      font-family: 'Ruslan Display';
      src: url('../fonts/RuslanDisplay/RuslanDisplay.eot');
      src: url('../fonts/RuslanDisplay/RuslanDisplay.eot?#iefix') format('embedded-opentype'),
          url('../fonts/RuslanDisplay/RuslanDisplay.woff2') format('woff2'),
          url('../fonts/RuslanDisplay/RuslanDisplay.woff') format('woff'),
          url('../fonts/RuslanDisplay/RuslanDisplay.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.eot');
    src: url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    .wrapper{
      min-height: 100vh;
      background: #fff3d4;
      text-align: center;      
    }
    #fable{
      font-family: 'Roboto', sans-serif;
      text-align: left;      
      font-weight: 200;
      padding: 40px 60px;
      font-size: 18px;
      line-height: 28px;      
      letter-spacing: 1px;
      white-space: pre-line;
    }
    #fable:first-letter{       
       font-family: 'Ruslan Display', cursive;     
       font-size: 66px;       
       color: red;       
       line-height: 1;       
       text-transform: uppercase;
    }
    form{      
      padding: 30px 0 20px;
      background: #fff;               
    }
    fieldset{     
      padding: 20px;      
      display: inline-flex;
      font-size: 20px;
      flex-direction: column;
      align-items: center;
      border-radius: 20px;
      border: 2px solid #000;
      font-family: 'Ruslan Display', cursive;  
    }
    #output{
      margin: 10px auto 0;
      padding: 8px;
      font-family: 'Ruslan Display', cursive;
      font-size: 16px;
      border-radius: 10px;
      background: #fff3d4;
      outline: none;  
    }
    #output:hover{
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2); 
    }  
    #name{
      height: 30px;
      width: 150px;
      padding: 0 0 0 5px;
      font-size: 18px;
      border-radius: 10px;
      font-family: 'Roboto', sans-serif;
      outline: none;    
    }
    span{
      color: red;
    }