<section class="comments-block">
    <ul class="users-comments__list">

        <!-- user one -->
        <li class="users-comments__item">
            <div class="user-image">
                <img alt="Green Coffee Slim" src="./img/user1.jpg">
            </div>
            <div class="user-container">                                
                <div class="user-container__text">
                    <p class="user-text">
                        <span class="user-name">Saaliha</span> I heard about this product on TV, but I did not know where to get it. Fortunately, I found this site, which also has a discount.</p>                                    
                </div>
                <ul class="user-signatures__list">
                    <li class="user-signatures__item">Like</li>
                    <li class="user-signatures__item">Reply</li>
                    <li class="user-signatures__item">1m</li>
                </ul>
            </div>                            
        </li>

        <!-- user two -->
        <li class="users-comments__item">
            <div class="user-image">
                <img alt="Green Coffee Slim" src="./img/user2.jpg">
            </div>
            <div class="user-container">                                
                <div class="user-container__text">
                    <p class="user-text">
                        <span class="user-name">Aliyya</span> great way to lose weight!
                    </p>                                 
                </div>
                <ul class="user-signatures__list">
                    <li class="user-signatures__item">Like</li>
                    <li class="user-signatures__item">Reply</li>
                    <li class="user-signatures__item">1m</li>
                </ul>
            </div>                            
        </li>

        <!-- user three -->
        <li class="users-comments__item users-comments__indent1">
            <div class="user-image">
                <img alt="Green Coffee Slim" src="./img/user3.jpg">
            </div>
            <div class="user-container">                                
                <div class="user-container__text">
                    <p class="user-text">
                        <span class="user-name">Aline Matte</span> Being fat your whole life and becoming slim in a month - this is awesome! I'm very happy with the product <a href="#" class="link-green">GREEN & COFFEE.</a></p>                                    
                </div>
                <div class="user-img">
                    <img src="./img/user3-result.jpg" alt="Green Coffee Slim" class="img-fluid">
                </div>               
                <ul class="user-signatures__list">
                    <li class="user-signatures__item">Like</li>
                    <li class="user-signatures__item">Reply</li>
                    <li class="user-signatures__item">1m</li>
                </ul>
            </div>                            
        </li>

        <!-- user four -->
        <li class="users-comments__item">
            <div class="user-image">
                <img alt="Green Coffee Slim" src="./img/user4.jpg">
            </div>
            <div class="user-container">                                
                <div class="user-container__text"><p class="user-text"><span class="user-name">Iyaad al-Sadri</span> 
                Hello! I saw this coffee in an advertisement, and I will order them while the offer lasts. But please, could you tell me if the product works for guys too.</p>
                </div>
                <ul class="user-signatures__list">
                    <li class="user-signatures__item">Like</li>
                    <li class="user-signatures__item">Reply</li>
                    <li class="user-signatures__item">2Hours</li>
                </ul>
            </div>                            
        </li>

        <!-- user five -->
        <li class="users-comments__item users-comments__indent2">
            <div class="user-image">
                <img alt="Green Coffee Slim" src="./img/user5.jpg">
            </div>
            <div class="user-container">                                
                <div class="user-container__text">
                    <p class="user-text">
                        <span class="user-name">Aamina</span> My husband and I tried the product, thanks.</p>                                    
                </div>
                <ul class="user-signatures__list">
                    <li class="user-signatures__item">Like</li>
                    <li class="user-signatures__item">Reply</li>
                    <li class="user-signatures__item">1m</li>
                </ul>
            </div>                            
        </li>

        <!-- user six -->
        <li class="users-comments__item">
            <div class="user-image">
                <img alt="Green Coffee Slim" src="./img/user6.jpg">
            </div>
            <div class="user-container">                                
                <div class="user-container__text">
                    <p class="user-text">
                        <span class="user-name">Aline Matte</span> Being fat your whole life and becoming slim in a month - this is awesome! I'm very happy with the product GREEN & COFFEE. </p>                                    
                </div>
                <ul class="user-signatures__list">
                    <li class="user-signatures__item">Like</li>
                    <li class="user-signatures__item">Reply</li>
                    <li class="user-signatures__item">1m</li>
                </ul>
            </div>                            
        </li>

        <!-- user seven -->
        <li class="users-comments__item">
            <div class="user-image">
                <img alt="Green Coffee Slim" src="./img/user7.jpg">
            </div>
            <div class="user-container">                                
                <div class="user-container__text">
                    <p class="user-text">
                        <span class="user-name">Muna</span> My mother found out about this product at work. I think it works well</p>                                    
                </div>
                <ul class="user-signatures__list">
                    <li class="user-signatures__item">Like</li>
                    <li class="user-signatures__item">Reply</li>
                    <li class="user-signatures__item">1m</li>
                </ul>
            </div>                            
        </li>

        <!-- user eight -->
        <li class="users-comments__item">
            <div class="user-image">
                <img alt="Green Coffee Slim" src="./img/user8.jpg">
            </div>
            <div class="user-container">                    
                <div class="user-container__text user-container__text_indent">
                    <p class="user-text">
                        <span class="user-name">Anbara al-M.</span> I ordered this coffee 3 weeks ago, although at that time they were not in stock. After I got them, the results are really incredible, I did not think that natural medicines can work so well.</p>                                    
                </div>
                <div class="user-img">
                    <img src="./img/user8-result.jpg" alt="Green Coffee Slim" class="img-fluid">
                </div> 
                <ul class="user-signatures__list">
                    <li class="user-signatures__item">Like</li>
                    <li class="user-signatures__item">Reply</li>
                    <li class="user-signatures__item">23 Hours</li>
                </ul>
            </div>                            
        </li>

        <!-- user nine -->
        <li class="users-comments__item">
            <div class="user-image">
                <img alt="Green Coffee Slim" src="./img/user9.jpg">
            </div>
            <div class="user-container">                                
                <div class="user-container__text">
                    <p class="user-text">
                        <span class="user-name">Marwa</span> Is it really 100% natural? I will try in that case -I don't want any chemical product or medication</p>
                </div>
                <ul class="user-signatures__list">
                    <li class="user-signatures__item">Like</li>
                    <li class="user-signatures__item">Reply</li>
                    <li class="user-signatures__item">1m</li>
                </ul>
            </div>                            
        </li>

    </ul>
</section>