<section class="content">

    <ul class="content-top-list">
        <li class="content-top-list__item">
            <a href="#" class="content-top__link upper-text">SLIM ESTHETE</a>
        </li>
        <li class="content-top-list__item">
            <a href="#" class="content-top__link">></a>
        </li>
        <li class="content-top-list__item">
            <a href="#" class="content-top__link"> Dr. Hisham Sabry</a>
        </li>
    </ul>

    <ul class="content-block1">
        <li class="content-block1__img">
            <img src="./img/medical-sign.png" alt="Green Coffee Slim" class="img-fluid">  
        </li>
        <li class="content-block1-text">
            <div class="content-block1__title-sm">The nutritionist emphasized:</div>
            <div class="content-block1__title-md">Losing 27 kg in two weeks is possible</div>
            <div class="content-block1__item">
                <ul class="content-block1-list">
                    <li class="content-block1-list__item">Name: Dr. Hisham Sabry</li>
                    <li class="content-block1-list__item">Gender: Male</li>
                    <li class="content-block1-list__item">Age: 57</li>
                    <li class="content-block1-list__item">Specialization: Nutrition expert</li>
                    <li class="content-block1-list__item">Work Experience: 36 years</li>
                </ul>
                <div class="content-block1__picture">
                    <img src="./img/doctor.png" alt="Green Coffee Slim" class="img-fluid">
                </div>      
            </div>
        </li>
    </ul> 

    <p class="content-text">Dr. Hisham Sabry, a well-known dietitian who works at the SLIM ESTHETE Nutrition and Body Remodeling Clinic during 36 years of long experience, has assisted over 2,500 overweight patients. Dr. Hisham stressed that it is very possible to lose up to 27 kg safely in 14 days, without exercise or diet.</p>
    <p class="content-text">Any extra weight, even if slight, can be very dangerous. In some cases, obesity reaches a critical level. Shortness of breath, varicose veins, heart disease, cirrhosis and other internal organs are only superficial consequences in the early stages of obesity. Sudden treatment of excess fat may lead to death.</p>        

    <div class="content-center-img1">
        <img src="./img/women.jpg" alt="Green Coffee Slim" class="img-fluid">
    </div>

    <p class="content-text">After analyzing emergency weight loss methods, such as diets, exercise, and more, Dr. Hisham has proven that 93% of them are completely ineffective and have a very negative impact on human health. Other methods have no weight loss effect at all. In other words, after stopping the extra weight immediately returns again.</p>
    <p class="content-text">The only safe treatment, according to Dr. Hisham is <a href="#" class="link">Green Coffee.</a> Doctor's studies have shown that 97% of patients get rid of unwanted pounds permanently and in a very short time.</p>
    <p class="content-text">These amazing results can be achieved thanks to these components: 18 amino acids, proteins, Vitamin B1, Vitamin B2, Vitamin B12, Vitamin A, Vitamin E, and fatty acids. All of these natural ingredients accelerate the weight loss process by 19 times and keep the lost kilograms going. Thanks to this product, patients lose permanently and at home 12-27 kg in two weeks without harm to health!</p>
    <p class="content-text_important pre-li-text">With Green Coffee there is no need for exhausting diets or exercise. After consuming 
    it 3 times a day 30 minutes before meals, patients reported the following results:</p>

    <div class="content-center-img2">
        <img src="./img/men.jpg" alt="Green Coffee Slim" class="img-fluid">
        <img src="./img/women2.jpg" alt="Green Coffee Slim" class="img-fluid">
    </div>

    <p class="content-text content-text_indent1">Today all of the nutritional programs prepared by your doctor will definitely include <a href="#" class="link">Green Coffee.</a> Thanks to this product, the patient can adhere to any usual diet and lifestyle. The active ingredients in the drink prevent harmful calories from entering the body with food. That enters the body with food. Antioxidants remove toxins from the body, and they accelerate metabolism and normalize appetite. The doctor claims that the combination of vitamins and additional nutrients allows the body to independently determine the amount of extra weight and get rid of it without harm to health.</p>
    <p class="content-text content-text_indent1"><a href="#" class="link">Green Coffee</a> is an inexpensive product for losing weight, as it is 30 times cheaper, which makes it affordable for anyone who wants to lose weight quickly and effectively. The main advantage of this product is that patients can lose excess weight quickly while eating their favorite dishes.</p>

    <div class="content-center-img3">
        <img src="./img/certificates.png" alt="Green Coffee Slim" class="img-fluid">    
    </div>

    <p class="content-text">Beware! Dr. Hisham warns his patients not to take too many capsules and use it with care according to the instructions. In the event of misuse, the product may cause a fundamental weight loss, exceeding the recommended standard resulting in anorexia.</p>
    <p class="content-text">Special offer! You can buy the product on the distributor's official website with the personal discount of Dr. Hisham! *</p>
    <p class="content-text">* Special offer is available until 11.04.2020</p>

    <div class="order-now-block">
        <div class="order-now__img-link">
            <a href="#">
                <img src="./img/order-now-coffee-lg.png" alt="Green Coffee Slim" class="img-fluid">
            </a>
        </div>                    
        <a class="order-now__link  order-now__link_lg" href="#">
            Click here to <span>get a <br>discount!</span>
        </a>                           
    </div>

    <p class="order-now__text pre-li-text">Beware of scammers! Product order only on
    Official website</p>   
     
    <div class="btn-block">
        <a href="#" class="btn-order-now btn-order-now-lg">Order now green coffee</a>
    </div>
    
</section>    
                   