<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PRE-LAND_GREEN_COFFEE_SLIM#4</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
</head>

<body>
    
    <!-- HEADER -->
    //= header.html
   
    <main>
        <div class="limit-screen">
           <h2 class="content-title">Recommendation</h2>

           <!-- BEGIN SIDE BAR  -->
           //= sidebar.html
           <!-- END SIDE BAR  -->

            <!-- BEGIN CONTENT -->
            <div class="content-wrapper">
                //= content-blocks.html

                <!-- COMMENTS OF USERS -->
                //= comments.html

                <div class="btn-block end-content">
                    <a href="#" class="btn-order-now btn-order-now-lg">Order now green coffee</a>
                </div>
               
            </div>
            <!-- END CONTENT -->   
                
            
        </div>
    </main>
    //= footer.html

    <script defer src="js/main.min.js"></script>

</body>

</html>