<aside class="sidebar">

    <div class="sidebar-content">

        <h3 class="sidebar__title">Get your bonus</h3>
        <form action="javascript:void(0)" class="form-sidebar">
            <input type="text" class="form-sidebar__input" placeholder="Your name">
            <button class="form-sidebar__btn" type="submit">Get now</button>
        </form>

        <div class="sidebar__item">
            <div class="sidebar__img">
                <img src="./img/sidebar-img1.jpg" alt="Green Coffee Slim" class="img-fluid">
            </div>
            <p class="sidebar-text">Being fat your whole life and becoming slim in a month - this is awesome! I'm very happy with the product <a href="#" class="link">GREEN & COFFEE.</a> My appetite is reduced and the feeling of heaviness in the stomach is gone. This is the first remedy which led to actual weight</p>
            <div class="sidebar__read-more">
                <a href="#" class="read-more__link">Read more</a>
                <span class="read-more__text">loss by 13 kilos!</span>
            </div> 
        </div>

        <div class="sidebar__item sidebar__item_indent">
            <div class="sidebar__img">
                <img src="./img/sidebar-img2.jpg" alt="Green Coffee Slim" class="img-fluid">
            </div>
            <p class="sidebar-text"><a href="#" class="link">Green Coffee Slim</a> is 100% natural and truly effective.</p>
        </div>

        <div class="sidebar__item">
            <div class="sidebar__img">
                <img src="./img/sidebar-img3.jpg" alt="Green Coffee Slim" class="img-fluid">
            </div>
            <p class="sidebar-text">If you have any muscles, this will not happen. <a href="#" class="link">GREEN & COFFEE.</a> will eliminate excess fat and will not affect your muscle mass in any way. I was never fat but I used Green Coffee to increase muscle protrusion. And that's what I achieved</p>
            <div class="sidebar__read-more">
                <a href="#" class="read-more__link">Read more</a>         
            </div> 
        </div>

    </div>

    <div class="try-now">
        <div class="try-now__header">
            <h3 class="try-now__title">Try now</h3>
        </div>                    
        <div class="try-now__img">
            <a href="#">
                <img src="./img/try-now-coffee.png" alt="Green Coffee Slim" class="img-fluid">
            </a>
        </div>
        <a class="try-now__link try-now__link_sm" href="#">
            Click here to <br> <span>get a discount!</span>
        </a>                  
        <a href="#" class="btn-order-now btn-order-now-sm">Order now!</a>
          

    </div>    

</aside>