

 body{
      padding-top: 100px;
       
    }

 
    #playingField{
      margin: 100px auto 0;
      width: 1154px;
      border: 1px solid rgb(28, 28, 30);
      height:1000px;
      position: relative;

    }

    .bugOrdinary{
      position: absolute;
      font-size: 50px;
      transform: scale(-1);        
      width: 50px;
      height: 50px;
      color: rgb(48, 209, 88); 
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
    }

    .bugArmored{
      color: rgb(255, 59, 48);
    }
    .bugManyFaces{
      color: rgb(99, 99, 102);
    }
    .bugArmoredManyFaces{
      color: rgba(255, 59, 48, .8);
      text-shadow: 0 4px 4px rgba(28, 28, 30, .6), 0 0 4px rgba(28, 28, 30, .4);
    }
    .bugRowDown,.bugRowDown2{
      color: rgb(52, 199, 89);
    }

    [id^=row]{
      position: absolute;
      left:0;
      right: 0;
      height: 50px;      
    }
    #rowOne{
      top: 50px;      
    }   
    #rowTwo{
      top: 120px;        
    }    
    #rowThree{
      top: 190px;
    }
    #rowFour{
      top: 260px;
    }
    #rowFive{
      top: 330px;
    }
    .bullet{
      position: absolute;
      font-size: 35px;      
      width: 30px;
      height: 30px;
      color: rgb(52, 199, 89);     
      bottom: 0;     
      /*left: 39%;*/
     /* z-index:-5;*/
     /* transform: translateY(-20px); */    
    }

    #android{
      position: absolute;
      display: block;
      color: rgb(48, 209, 88);
      width: 100px;
      height: 100px;
      left: 50%;
      bottom: -5px;
      font-size: 100px;
      transform: translateX(-50%);
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
    }
     [id^=arrow] {
      position: absolute;
      font-size: 60px;
      color: rgb(28, 28, 30);     
      bottom: 20px;
      transition: all ease .2s;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
     
    }
    #arrowRight{
      left: 105%;
    }
    #arrowLeft{
      right: 105%;
    }