
    @font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/raleway-regular-webfont.eot');
    src: url('../fonts/Raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Raleway/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/Raleway/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/Raleway/raleway-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	}
	@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic/CenturyGothic.eot');
    src: url('../fonts/CenturyGothic/CenturyGothic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CenturyGothic/CenturyGothic.woff2') format('woff2'),
        url('../fonts/CenturyGothic/CenturyGothic.woff') format('woff'),
        url('../fonts/CenturyGothic/CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	}
    html {
		scroll-behavior: smooth;
		-webkit-overflow-scrolling: touch;
		-moz-overflow-scrolling: touch;
		-ms-overflow-scrolling: touch;
		-o-overflow-scrolling: touch;
		overflow-scrolling: touch; 
	}
  	html::-webkit-scrollbar-track {
    	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .8);   
	}
    html::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background: rgba(0, 0, 0, 1);
        box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2); 
    }
    html::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 8px; 
    }
	body{
		background: url(../img/bg-body.jpg) no-repeat 50%/cover;
		background-attachment: fixed;				
		font-family: 'Century Gothic', sans-serif;
		letter-spacing: .5px;	
	}			
	ul{
		list-style: none;
	}	
	header{		
		padding: 40px 0;
	}
	h2{
		color: rgba(255,255,255, .9);
		font-size: 36px;
		font-family: 'Raleway', sans-serif;
		font-weight: 600;    	
    	text-align: center;    	
    	cursor: default;
    	transition: all ease .5s;    	
	}
	#change-lang{
		font-size: 0;
		letter-spacing: 0;
	}
	#langRus, #langEng{
		width: 36px;		
		outline: none;
		border: none;		
		border-radius: 0;
		box-shadow: none;
		background: none;
		font-size: 16px;
		color: rgba(255,255,255, .8);
	}
	#langRus{
		margin: 5px 0 0 0;
		padding: 0 7px 0 0;
		border-right: .5px solid rgba(255,255,255, .9);
	}
	#langEng{
		margin: 5px 0 0 0;
		padding: 0 0 0 7px;
		border-left: .5px solid rgba(255,255,255, .9);
	}
	#langRus:hover,
	#langEng:hover{
		color: rgba(255,255,255, .9);		
	}
	#langRus:active,
	#langEng:active{
		font-size: 15px;		
	}
	#change-lang .lang-active{
		color: rgba(255,255,255, 1);
		font-weight: 800;
	}
	#clock{
		font-size: 20px;
		font-weight: 500;
		color: #fff;
		cursor: pointer;
		margin-bottom: 5px;
		padding: 0;
		transition: all ease .5s;
	}
	#clock>.icon-watch{
		font-size: 18px;
		margin-right: 5px;
	}
	#clock>.icon-date{
		font-size: 19px;
		margin-right: 6px;
		position: relative;
		bottom: 1px;
	}	
	.big-icon-font{
		font-size: 35px;
		margin: 0 8px;		
	}
	.navbar{
		background: rgba(0,0,0, .7);
		padding: 10px 0;
	}
	header .navbar-toggler{
		margin: 5px 0 5px -7px;
		border: 0;
		outline: 0;
		height: 25px;
	  	width: 50px;
	  	position: relative;
	  	background: none;
	  	transition: transform ease .5s;
	}
	.small-cross{		
		transform: scale(.5);
	}
	.hamberger-icon{
  	    height: 4px;
  	    width: 40px;
  	    position: absolute;
  	    top: 50%;
  	    left: 50%;
  	    border-radius: 50px;
  	    background: rgba(251, 198, 32, .8);
  	    transform: translate(-50%, -50%) rotate(0deg);
  	    transition: transform ease .5s, top ease .5s;
	}
	.hamberger-icon:hover{
		 background: rgba(251, 198, 32, 1);		 
	}	
	.hamberger-icon:before, .hamberger-icon:after{
		content: "";
		position: absolute;
  		height: inherit;
  		border-radius: inherit;
  		background-color: inherit;
  		margin: auto;
  		width: 50%;  		
	}
	.hamberger-icon:before{
		content: "";
		position: absolute;
  		top: -13px;
  		left: 0;
  		transform-origin: left;
  		transition: transform ease .5s, top ease .5s;
	}
	.hamberger-icon:after{
		content: "";
		position: absolute;
  		bottom: -13px;
  		right: 0;
  		transform-origin: right;
  		transition: transform ease .5s, bottom ease .5s;
	}
	.navbar-toggler .open{
		background: rgb(255,255,255);
  		transform: translate(-50%, -50%) rotate(135deg);
	}
	.open:before{
  		top: 0;
  		transform: translateX(100%) rotate(-90deg);
	}
	.open:after{
  		bottom: 0;
  		transform: translateX(-100%) rotate(-90deg);
	}
	.nav-link,.dropdown-item{
		color: rgba(255,255,255, .9);
		font-size: 16px;
	}
	.nav-link:hover,.dropdown-item:hover, .nav-link:active, .dropdown-item:active{
		color: rgba(255,255,255, 1);
		text-shadow: 0 5px 5px rgba(255,255,255, .7), 0 0 5px rgba(255,255,255, .4);
	}
	.email-link:hover>.icon-font{
		transform: translateY(-3.1px);
	}
	.email-link:hover>.icon-font::before{
		content: "\f2b6";
	}
	.dropdown-menu{
		background: rgba(0,0,0, .7);
		outline: 2px solid rgba(255,255,255, .7);
	}
	.dropdown-item:hover{
		background: none;
	}	
	.dropdown.show>.dropdown-toggle:after{
		transform-origin: center;
		transform: rotate(180deg); 
	}
	.tel{
		cursor: default;
		color: rgba(255,255,255, 1);
	}
	.tel:hover,.tel:active{
		text-shadow: none;
	}	
/*#about-me*/	
	.about-me-box{
		display: flex;
	    height: 700px;
		position: relative;
		outline: 7px solid rgba(0,0,0, .7);		
		overflow: hidden;		
		padding: 0;
		transition: all 1s ease;
	}
	.about-me-box:hover h2{
		color: rgba(255,255,255, 1);
		text-shadow: 0 4px 4px rgba(255,255,255, .4), 0 0 4px rgba(255,255,255, .3);
	} 
	.about-me-box:hover{
		filter: grayscale(100%);
	}
	.about-me-text{		  
	    margin: auto;
	    text-align: center;
	    padding: 10px 20px;  
	    background: rgba(0,0,0, .7);
	    position: relative;    
	}	
	.about-me-text p{
		color: #fff;
		cursor: default;		
		font-size: 20px;
	}	
	.block-left,
	.block-top,
	.block-bottom,
	.block-right{
		border: 5px solid #fff;
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;		
	}
	.block-left:before,
	.block-top:before,
	.block-bottom:before,
	.block-right:before{
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.block-top{		
		background: url(../img/bg-about.jpg) no-repeat 50%/cover;
    	transform: translate(4%, -92%) rotate(48deg);
    	transition: transform 1s ease;
	}	
	.block-left{
		height: 121%;    	
    	background: url(../img/bg-about.jpg) no-repeat 50%/cover;
    	transform: translate(-38.5%, -12%) rotate(48deg);
    	transition: transform 1s ease;
	}	
	.block-bottom{		
		background: url(../img/bg-about.jpg) no-repeat 50%/cover;
    	transform: translate(33.2%, 110%) rotate(48deg);
    	transition: transform 1s ease;
	}
	.block-right{
		width: 110%;
    	height: 110%;
    	background: url(../img/bg-about.jpg) no-repeat 50%/cover;    	
    	transform: translate(65%, 24%) rotate(48deg);
    	transition: transform 1s ease;
	}
	#about-me .btn-resume{
		margin: 0 0 10px 0;
		padding: 0;
		outline: none;
		border: none;
		box-shadow: none;
		background: none;
		color: rgba(255,255,255, .9);
		font-size: 19px;
		font-family: 'Raleway', sans-serif;
		font-weight: 600; 
	}
	#about-me .btn-resume:hover, #about-me .btn-resume:active, #about-me .btn-resume:focus{
		outline: none;
		border: none;
		box-shadow: none;
		background: none;
		color: rgba(255,255,255, 1);
		text-shadow: 0 5px 5px rgba(255,255,255, .7), 0 0 5px rgba(255,255,255, .4);
	}
	.icon-resume{
		font-size: 24px;
		margin: 0 6px; 		
	}
	#exampleModalLong {
		word-wrap: break-word;		
		-webkit-overflow-scrolling: touch;
		-moz-overflow-scrolling: touch;
		-ms-overflow-scrolling: touch;
		-o-overflow-scrolling: touch;
		overflow-scrolling: touch; 
	}
  	#exampleModalLong::-webkit-scrollbar-track {
    	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .8);   
	}
    #exampleModalLong::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background: rgba(255, 255, 255, .9);
        box-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
        -webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 0.5); 
    }
    #exampleModalLong::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 8px; 
    }
	.modal-dialog{
		max-width: 48%;
		cursor: default;
	}
	.modal-content{		
		background: rgba(0,0,0, .7);
  		outline: 5px solid rgba(255,255,255, .6);
	}
    .close{		
		outline: none;
		border: none;
		box-shadow: none;
		background: none;
		opacity: .6;
	}
	.close:hover, .close:active, .close:focus{
		outline: none;
		border: none;
		box-shadow: none;
		background: none;
		opacity: 1;
		text-shadow: 0 5px 5px rgba(255,255,255, .7), 0 0 5px rgba(255,255,255, .4);
	}
	.modal-header{
		border: none;
	}
	.modal-title{
		margin: 20px 0;
		color: rgba(255,255,255, 1);
		font-size: 22px;
		font-family: 'Raleway', sans-serif;
		font-weight: 600;		
	}
	.modal-body{
		margin-bottom: 20px;
	}
	.modal-body .icon-arrow{
		margin-left: 5px; 
	}
	.md-icon-font{
		color: rgba(255,255,255, 1);
		font-size: 24px;
		margin: 0 6px;
	}
	.icon-simle{
		font-size: 24px;
		margin: 0 2px;
	}	
	.icon-close{
		color: rgba(255,255,255, 1);
		font-size: 25px;
	}
	.modal-about-me{		
		margin: 15px 0;
		padding: 15px 20px;		 
		background: rgba(0,0,0, .7);
		font-size: 16px;
		color: rgba(255,255,255, 1);
		outline: 1px solid rgba(255,255,255, 1);		
	}
	.modal-about-me>li{
		margin: 4px 0;
	}
	.modal-item-list{
		font-size: 15px;
		margin-right: 5px;
		color: rgba(255,255,255, .7);
	}
	.modal-item-link{
		font-size: 16px;
		color: rgba(255,255,255, .9);
	}
	.modal-item-link:hover, .modal-item-link:active{
		color: rgba(255,255,255, 1);
		text-shadow: 0 4px 4px rgba(255,255,255, .7), 0 0 4px rgba(255,255,255, .4);
		text-decoration: none;
	}
	.modal-section{
		margin-left: 10%;
	}
	.sm-icon-font{
		font-size: 8px;
		margin: 0 10px 0 8px;
	}
	.new-line{
		display: block;
		margin: 2px 0 0 25px;
	}
	@media (max-width: 1400px){
		.modal .modal-dialog{
			max-width: 70%;
		}
	}		
	@media (max-width: 1199px){		
		.block-left{
			transform: translate(-38%, 4%) rotate(48deg);
		}
		.block-top{
			transform: translate(4%, -85%) rotate(48deg);
		}
		.block-bottom{
			transform: translate(34%, 110%) rotate(48deg);
		}
		.block-right{
			transform: translate(65%, 12%) rotate(48deg);
		}
	}
	@media (max-width: 991px){
		#exampleModalLong .modal-dialog{
			max-width: 90%;
		}
		.block-left{
			transform: translate(-63%, 4%) rotate(48deg);
		}
		.block-top{
			transform: translate(7%, -69%) rotate(48deg);
		}
		.block-bottom{
			transform: translate(11.5%, 84%) rotate(48deg);
		}
		.block-right{
			transform: translate(69%, 2%) rotate(48deg);
		}
		.portfolio-box [class^=button-portfolio-next]{
			left: 7%;
		}
		.portfolio-box [class^=button-portfolio-prev]{
			right: 7%;
		}
	}
	@media (max-width: 767px){		
		.block-left{
			transform: translate(-77%, 4%) rotate(48deg);
		}
		.block-top{
			transform: translate(29%, -58%) rotate(48deg);
		}
		.block-bottom{		
			transform: translate(-13%, 74%) rotate(48deg);
		}
		.block-right{
			transform: translate(78%, 2%) rotate(48deg);
		}
	}
	@media (max-width: 590px){
		#skills .skills-box{
			outline: none;
  			border: 2px solid rgba(255,255,255, .6);		
		}
		#skills .skills-box:hover{
			outline: none;
  			border: 2px solid rgba(255,255,255, .9);		
		}
		#portfolio .portfolio-box{
			outline: none;
  			border: 2px solid rgba(255,255,255, .6);		
		}
		#portfolio .portfolio-box:hover{
			outline: none;
  			border: 2px solid rgba(255,255,255, .9);		
		}
		#about-me .about-me-box{
			outline: none;
  			border: 2px solid rgba(0,0,0, .7);		
		}
		#exampleModalLong .modal-content{
			outline: none;
  			border: 2px solid rgba(255,255,255, .7);
		}		
	}
	@media (max-width: 575px){
		#langRus{
			margin-left: 7px;
		}
		header #clock{
			padding: 0 7px;
		}
		header .navbar{
			padding: 0 7px;
		}
		footer .contact{
			padding: 0 7px;
		}
		.block-left{
			transform: translate(-54%, 2%) rotate(48deg);
		}
		.block-top{
			transform: translate(29%, -54%) rotate(48deg);
		}
		.block-bottom{		
			transform: translate(-17%, 65%) rotate(48deg);
		}
		.block-right{
			transform: translate(67%, -9%) rotate(48deg);
		}
	}
/*#skills*/
  	#skills{
  		padding: 40px 0;
  	}
  	#skills .icon-js{
  		margin: 0 3px; 
  	}
  	#skills .icon-html, #skills .icon-css{
		width: 25px;
  	}
  	#skills .icon-html:after, #skills .icon-css:after{
  		left: 45%;
  		width: 59%;
  	}
  	.skills-box:hover h2{
  		color: rgba(255,255,255, 1);
		text-shadow: 0 4px 4px rgba(255,255,255, .4), 0 0 4px rgba(255,255,255, .3);
  	}
  	.skills-box:hover{
  		outline: 7px solid rgba(255,255,255, .9);
  	}  	
  	.skills-box,
  	.portfolio-box{
  		padding: 20px 0; 
  		background: rgba(0,0,0, .7);
  		outline: 7px solid rgba(255,255,255, .6);
  		overflow: hidden;
  		transition: all ease .5s;
  	}
  	.skills-box{
  		padding: 20px 0 40px;
  	}
  	.skills-box>ul{
  		list-style: none;
  		padding: 15px 0;
  		margin: 0 auto; 
  	}
  	.skills-box>ul>li{
  		cursor: default;
  		position: relative;
  		color: #fff;
  		font-size: 16px;
  		margin: 15px 0; 
  		padding: 8px 10px;
  		background: rgba(0,0,0, .7);
  		outline: 1.5px solid rgba(255,255,255, .7); 
  	}
  	.icon-arrow{		
		margin-right: 5px;		
  	}
/*#portfolio*/
	#portfolio{
		padding: 40px 0;
		margin-bottom: 20px;
	}
	[class^=portfolio-swiper]{
		padding: 0 7% 40px;
	}
	[class^=button-portfolio-next],
	[class^=button-portfolio-prev]{
		background: none;
		font-size: 42px;
		line-height: 42px;
		width: 45px;
		height: 45px;		
		left: 1.5%;
		margin: 0;
		transform: translateY(-50%);
		color: rgba(255,255,255, 1);		
	}
	[class^=button-portfolio-next]{
		animation: arrow-next 1.8s linear infinite;
		text-shadow: -9px 0px 1px rgba(255,255,255, 0);
	}
	[class^=button-portfolio-prev]{
		left: auto;
		right: 1.5%;
		animation: arrow-prev 1.8s linear infinite;
		text-shadow: 9px 0px 1px rgba(255,255,255, 0);
	}
	@keyframes arrow-next{
	  	0%{
	  		text-shadow: -9px 0px 1px rgba(255,255,255, .3); 		
	    }
	  	100% {
	    	text-shadow: -100px 0px 1px rgba(255,255,255, .6);
		}
	}	
	@keyframes arrow-prev{
	  	0%{
	  		text-shadow: 9px 0px 1px rgba(255,255,255, .3); 		
	    }
	  	100% {
	    	text-shadow: 100px 0px 1px rgba(255,255,255, .6);
		}
	}
	[class^=button-portfolio-next]:hover,
	[class^=button-portfolio-prev]:hover{
		animation: none;
	}
	[class^=button-portfolio-next]:hover::before,
	[class^=button-portfolio-prev]:hover::before{	
		content: "";
	}
	[class^=button-portfolio-next]:hover::after,
	[class^=button-portfolio-prev]:hover::after{	
		opacity: .9;
	}
	[class^=button-portfolio-next]:active,
	[class^=button-portfolio-prev]:active{
		font-size: 40px;
	}
	#portfolio .swiper-pagination-bullet{
		width: 32px;
		height: 32px;
		border: none;
		outline: none;
		line-height: 32px;
		font-size: 20px;
    	font-weight: 700;
    	color: #000;
    	opacity: 1;
		background: rgba(255,255,255, .6);
	}
	#portfolio .swiper-pagination-bullet-active{
		border: none;
		outline: none;
		background: rgba(255,255,255, 1);
		box-shadow: 0 0 3px 2px rgba(255, 255, 255, .5);
	}		
	.portfolio-box:hover h2{
  		color: rgba(255,255,255, 1);
		text-shadow: 0 4px 4px rgba(255,255,255, .4), 0 0 4px rgba(255,255,255, .3);
  	}
  	.portfolio-box:hover{  		
		outline: 7px solid rgba(255,255,255, .9);
  	}
	.portfolio-section{
		margin: 40px auto;		
		padding: 0;
		width: 273px;
		height: 410px;
		overflow: hidden;
		border: 1.5px solid rgba(255,255,255, .7);
		transition: box-shadow ease .5s;
	}
	.portfolio-section:hover{		
		box-shadow: 0 5px 5px rgba(255,255,255, .7), 0 0 5px rgba(255,255,255, .4);
	}
	.portfolio-section>h3,
	.portfolio-section>span{
		color: #000;
		background: rgba(255,255,255, .7);
		font-size: 18px;
		line-height: 55px;
		margin: 0;
		cursor: default;		
		text-align: center;
	}
	.prtfl-head, .prtfl-footer{
		position: relative;		
		height: 55px;
		cursor: default;
	}
	.prtfl-head-item, .prtfl-footer-item{
		position: absolute;
		display: flex;
		align-items: center;
		top: 0;
		left: 0;
		right: 0;
		width: 90%;
    	height: 100%;
    	border: 3px solid rgba(0,0,0, .7);
    	background: rgba(255,255,255, .7);
    	transform: translateX(-20%) skewX(-45deg);
	}
	.prtfl-head-item:before, .prtfl-footer-item:before{
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 102%;		
		width: 100%;
		border: 1px solid rgba(255,255,255, .7);
		background: rgba(0,0,0, .7);
	}
	.prt-number{
		position: absolute;
		right: 5%;
		top: 50%;
		transform-origin: top center;
		transform: rotate(-40deg) translateY(-50%);
		width: 32px;
		height: 32px;
		z-index: 5;
		border-left: 2px solid transparent;
		border-top: 2px solid rgba(255,255,255, .7);
		border-right: 2px solid transparent;
		border-bottom: 2px solid rgba(255,255,255, .7);
		border-radius: 50%;
	}
	.prt-number>span{
		font-size: 22px;
		line-height: 28px;
		text-align: center;
		display: block;		
		color: rgba(255,255,255, .7);		
		transform-origin: center;	
		transform: rotate(40deg);
		transition: all .8s ease;
	}
	.prt-number:before{
		content: "";
		position: absolute;
		top: -2px;
		bottom: -2px;
		right: -2px;
		left: -2px;		
		border-left: 2px solid transparent;
		border-top: 2px solid rgba(255,255,255, .3);
		border-right: 2px solid transparent;
		border-bottom: 2px solid rgba(255,255,255, .3);
		transform-origin: center;
		transform: rotate(0deg);
		border-radius: 50%;
		transition: transform 1s ease;

	}
	.prtfl-head-item>h3{
		color: #000;
		font-size: 18px;
		margin: 0 0 0 22%;
		position: relative;		
		transform: translateX(20%) skewX(45deg);
	}
	.portfolio-section:hover .prtfl-respns:after{
		content: "Responsive";
		position: absolute;
		font-weight: 700;
		left: 0;
		color: #000;
		font-size: 18px;
		animation: responsive 1.3s linear;
	}
	@keyframes responsive{
	  	0%{
	  		content: "R";	  		 		
	    }
	    10%{
	    	content: "Re";	  		 		
	    }
	    20%{
	    	content: "Res";	  		 		
	    }
	    30%{
	    	content: "Resp";	  		 		
	    }
	    40%{
	    	content: "Respo";	  		 		
	    }
	    50%{
	    	content: "Respon";	  		 		
	    }
	    60%{
	    	content: "Respons";	  		 		
	    }
	    70%{
	    	content: "Responsi";	  		 		
	    }
	    80%{
	    	content: "Responsiv";	  		 		
	    }
	    90%{
	    	content: "Responsive";	  		 		
	    }
	  	100%{
	  		content: "Responsive";	    	
		}
	}
	.portfolio-section:hover .prtfl-stat:after{
		content: "Static";
		position: absolute;
		font-weight: 700;
		left: 0;
		color: #000;
		font-size: 18px;
		animation: static 1s linear;
	}
	@keyframes static{
	  	0%{
	  		content: "S";	  		 		
	    }
	    20%{
	    	content: "St";	  		 		
	    }
	    40%{
	    	content: "Sta";	  		 		
	    }
	    60%{
	    	content: "Stat";	  		 		
	    }
	    80%{
	    	content: "Stati";	  		 		
	    }
	    100%{
	    	content: "Static";	  		 		
	    }	  
	}
	.prtfl-footer{			
		height: 42px;
		margin: 2px 0;		
	}
	.prtfl-footer-item{		
    	border: 2px solid rgba(255,255,255, .7);
		background: rgba(0,0,0, .7);    	
	}
	.prtfl-footer-item:before{		
		top: -2px;
		bottom: -3px;		
		border: 1px solid rgba(0,0,0, .7);
    	background: rgba(255,255,255, .7);		
	}	
	.portfolio-section>span{
		display: block;
		height: 55px;
	}
	.portfolio-item{
		position: relative;
		overflow: hidden;
		height: 75%;
	}
	.portfolio-prompt{
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;		
		width: 100%;
		height: 100%;		
		background: rgba(0,0,0, .7);
		border: 1.5px solid rgba(255,255,255, .8);		
		transition: all ease 1.4s;
	}		
	.portfolio-section .portfolio-prompt{
		left: -100%;		
		top: 0;
		border-left: none; 
	} 
	.portfolio-section:hover .portfolio-prompt{		
		left: 0;
	}
	.portfolio-section:hover .prt-number:before{		
		transform: rotate(-91deg);
	}
	.portfolio-section:hover .prt-number>span{
		color: rgba(255,255,255, .9);
		font-weight: 500;
	}	
	.portfolio-text{
		width: 90%;
		padding: 0;
		margin: 0;
	}
	.portfolio-text>li{
		cursor: default;
		margin: 5px 0;		
		color: rgba(255,255,255, .7);
		text-align: center;		
	}
	.portfolio-text>li:nth-child(2){
		font-size: 27px;
		font-family: Arial, Helvetica, sans-serif;
	}
	.icon-bootstrap,.icon-js,.icon-gulp,.icon-sass,.icon-html,.icon-css{
		font-size: 30px;
		line-height: 30px;
		width: 30px;
		height: 30px;
	}
	.icon-bootstrap{
		position: relative;		
		color: #563d7c;		
		z-index: 5;	
	}
	.icon-html{
		color:#ee6535;
		position: relative;
		z-index: 5;
	}
	.icon-css{
		color: #379ad6;
		position: relative;
		z-index: 5;
	}
	.icon-bootstrap:after,.icon-html:after,.icon-css:after{
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		width: 50%;
		height: 70%;
		background: #fff;
		z-index: -1;
		transform: translate(-50%, -50%);
	}
	.icon-js{
		color: #f7df1e;
	}
	.icon-gulp{
		width: 20px;
		color: #e84a4b;
	}
	.icon-sass{
		width: 35px;
		color: #cf649a;
	}
	.portfolio-link{				
		color: rgba(255,255,255, .9);
		font-weight: 600;
	}
	.portfolio-link:hover{
		color: rgba(255,255,255, 1);
    	text-decoration: none;
    	text-shadow: 0 5px 5px rgba(255,255,255, .7), 0 0 5px rgba(255,255,255, .4);
	}
	.icon-sing-in{
		font-size: 20px;
		margin: 0 0 0 5px;
	} 
	@media (max-width: 430px){
		#portfolio [class^=button-portfolio-next]{
			left: 1.5%;
		}
		#portfolio [class^=button-portfolio-prev]{
			right: 1.5%;
		}		
		.portfolio-section{
			width: 230px; 		
			height: 330px;
		}
		.portfolio-box .section-js{
			height: 242px;	
		}
		.portfolio-box .section-js .portfolio-item{
			height: 140px;	
		}
		.prtfl-head, .prtfl-footer{
			height: 47px;
		}
	}
	@media (max-width: 390px){		
		.portfolio-section{
			width: 200px; 		
			height: 300px;
		}
		.portfolio-box .section-js{
			height: 222px;	
		}
		.portfolio-box .section-js .portfolio-item{
			height: 120px;	
		}
	}
	@media (max-width: 319px){
		#portfolio [class^=button-portfolio-next]{
			display: none;
		}
		#portfolio [class^=button-portfolio-prev]{
			display: none;	
		}		
	} 
	.section-js{
		height: 271px;		
	}
	.section-js .portfolio-item{
		height: 166px;
	}	
	.section-js .portfolio-text>li{
		font-size: 18px;
	}
	.section-js .portfolio-text>li:first-child{
		color: #fff;
	}
	.icon-font{
		margin: 0 5px;
		font-size: 20px;
	}
	
	.on-up{		
		color: rgba(255,255,255, .9);
		margin: 10px 4.4% 0 0;
		font-size: 40px;
		position: relative;
		z-index: 5;				
	}
	.on-up:hover{
		color: rgba(255,255,255, 1);
		text-shadow: 0 5px 5px rgba(255,255,255, .7), 0 0 5px rgba(255,255,255, .4);
		text-decoration: none;
	}
	.on-up:active{
		text-shadow: none;
		font-size: 39px;
	}	
	.on-up:after{
		content: "\f106";
		position: absolute;
		z-index: -5;
		left: 0;
		top: 0;
		font-size: 38px;
		color: rgba(255,255,255, 0);
		animation: on-up 1.2s linear infinite;
	}
	.on-up:hover::after{
		animation: none;
	}	
	@keyframes on-up{
	  	0%{
	  		text-shadow: 0 -8px 1px rgba(255,255,255, .2); 		
	    }
	    50%{

	    	text-shadow: 0 -16px 1px rgba(255,255,255, .7);
	    }
	  	100% {
	    	text-shadow: 0 -24px 1px rgba(255,255,255, 0);
		}
	}
/*footer*/
	footer{
		background: rgba(0,0,0, .7);
    	padding: 12px 0;
    	margin-bottom: 60px;
    	letter-spacing: .2px;	
	}
	.contact{
		padding: 0;
	}
	.contact-item{
		color: rgba(255,255,255, .9);
		font-size: 18px;
		margin: 1.5px 0; 
	}
	.contact-item:hover, .contact-item:active{
		color: rgba(255,255,255, 1);
		text-shadow: 0 5px 5px rgba(255,255,255, .7), 0 0 5px rgba(255,255,255, .4);
		text-decoration: none;
	}
	.contact-item-tel{
		color: rgba(255,255,255, 1);
		font-size: 18px;
		margin: 1.5px 0;
		cursor: default; 
	}
	

	


	

	