
    @font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/raleway-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	}	
	html{
  	scroll-behavior: smooth; 
  	}
	body{
		background: url(../img/bg-body.jpg) no-repeat 50%/cover;
		background-attachment: fixed;		
		font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	}	
	ul{
		list-style: none;
	}	
	header{		
		padding: 40px 0;
	}
	h2{
		color: rgba(255,255,255, .9);
		font-size: 34px;
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
    	text-transform: uppercase;
    	text-align: center;
    	cursor: default;
    	transition: all ease .5s;    	
	}
	#clock{
		font-size: 20px;
		font-weight: 500;
		color: #fff;
		cursor: pointer;
		margin-bottom: 5px;
		padding: 0;
		transition: all ease .5s;
	}
	#clock>.icon-watch{
		font-size: 18px;
		margin-right: 5px;
	}
	#clock>.icon-date{
		font-size: 19px;
		margin-right: 6px;
		position: relative;
		bottom: 1px;
	}	
	.big-icon-font{
		font-size: 35px;
		margin: 0 8px;		
	}
	.navbar{
		background: rgba(0,0,0, .7);
		padding: 10px 0;
	}
	header .navbar-toggler{
		margin: 5px 0 5px -7px;
		border: 0;
		outline: 0;
		height: 25px;
	  	width: 50px;
	  	position: relative;
	  	background: none;
	  	transition: transform ease .5s;
	}
	.small-cross{		
		transform: scale(.5);
	}
	.hamberger-icon{
  	    height: 4px;
  	    width: 40px;
  	    position: absolute;
  	    top: 50%;
  	    left: 50%;
  	    border-radius: 50px;
  	    background: rgba(251, 198, 32, .8);
  	    transform: translate(-50%, -50%) rotate(0deg);
  	    transition: transform ease .5s, top ease .5s;
	}
	.hamberger-icon:hover{
		 background: rgba(251, 198, 32, 1);		 
	}	
	.hamberger-icon:before, .hamberger-icon:after{
		content: "";
		position: absolute;
  		height: inherit;
  		border-radius: inherit;
  		background-color: inherit;
  		margin: auto;
  		width: 50%;  		
	}
	.hamberger-icon:before{
		content: "";
		position: absolute;
  		top: -13px;
  		left: 0;
  		transform-origin: left;
  		transition: transform ease .5s, top ease .5s;
	}
	.hamberger-icon:after{
		content: "";
		position: absolute;
  		bottom: -13px;
  		right: 0;
  		transform-origin: right;
  		transition: transform ease .5s, bottom ease .5s;
	}
	.navbar-toggler .open{
		background: rgb(255,255,255);
  		transform: translate(-50%, -50%) rotate(135deg);
	}
	.open:before{
  		top: 0;
  		transform: translateX(100%) rotate(-90deg);
	}
	.open:after{
  		bottom: 0;
  		transform: translateX(-100%) rotate(-90deg);
	}
	.nav-link,.dropdown-item{
		color: rgba(255,255,255, .9);
		font-size: 16px;
	}
	.nav-link:hover,.dropdown-item:hover, .nav-link:active, .dropdown-item:active{
		color: rgba(255,255,255, 1);
		text-shadow: 0 5px 5px rgba(255,255,255, .7), 0 0 5px rgba(255,255,255, .4);
	}
	.dropdown-menu{
		background: rgba(0,0,0, .7);
		outline: 2px solid rgba(255,255,255, .7);
	}
	.dropdown-item:hover{
		background: none;
	}
	.tel{
		cursor: default;
		color: rgba(255,255,255, 1);
	}
	.tel:hover,.tel:active{
		text-shadow: none;
	}	
/*#about-me*/	
	.block-box{
		display: flex;
	    height: 700px;
		position: relative;
		outline: 7px solid rgba(0,0,0, .7);		
		overflow: hidden;		
		padding: 0;
		transition: all 1s ease;
	}
	.block-box:hover h2{
		color: rgba(255,255,255, 1);
		text-shadow: 0 4px 4px rgba(255,255,255, .4), 0 0 4px rgba(255,255,255, .3);
	} 
	.block-box:hover{
		filter: grayscale(100%);
	}
	.about-me-text{		  
	    margin: auto;
	    text-align: center;
	    padding: 10px 20px;  
	    background: rgba(0,0,0, .7);
	    position: relative;    
	}	
	.about-me-text p{
		color: #fff;
		cursor: default;		
		font-size: 20px;
	}	
	.block-left,
	.block-top,
	.block-bottom,
	.block-right{
		border: 5px solid #fff;
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;		
	}
	.block-left:before,
	.block-top:before,
	.block-bottom:before,
	.block-right:before{
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.block-top{		
		background: url(../img/bg-about.jpg) no-repeat 50%/cover;
    	transform: translate(4%, -92%) rotate(48deg);
	}	
	.block-left{
		height: 121%;    	
    	background: url(../img/bg-about.jpg) no-repeat 50%/cover;
    	transform: translate(-38.5%, -12%) rotate(48deg);
    	transition: all 1s ease;
	}	
	.block-bottom{		
		background: url(../img/bg-about.jpg) no-repeat 50%/cover;
    	transform: translate(33.2%, 110%) rotate(48deg);
	}
	.block-right{
		width: 110%;
    	height: 110%;
    	background: url(../img/bg-about.jpg) no-repeat 50%/cover;    	
    	transform: translate(65%, 24%) rotate(48deg);
	}
	
				
	@media (max-width: 1199px){
		.block-left{
			transform: translate(-38%, 4%) rotate(48deg);
		}
		.block-top{
			transform: translate(4%, -85%) rotate(48deg);
		}
		.block-bottom{
			transform: translate(34%, 110%) rotate(48deg);
		}
		.block-right{
			transform: translate(65%, 12%) rotate(48deg);
		}
	}
	@media (max-width: 991px){
		.block-left{
			transform: translate(-63%, 4%) rotate(48deg);
		}
		.block-top{
			transform: translate(7%, -69%) rotate(48deg);
		}
		.block-bottom{
			transform: translate(11.5%, 84%) rotate(48deg);
		}
		.block-right{
			transform: translate(69%, 2%) rotate(48deg);
		}
	}
	@media (max-width: 767px){
		.block-left{
			transform: translate(-77%, 4%) rotate(48deg);
		}
		.block-top{
			transform: translate(29%, -58%) rotate(48deg);
		}
		.block-bottom{		
			transform: translate(-13%, 74%) rotate(48deg);
		}
		.block-right{
			transform: translate(78%, 2%) rotate(48deg);
		}
	}
	@media (max-width: 575px){
		header #clock{
			padding: 0 7px;
		}
		header .navbar{
			padding: 0 7px;
		}
		footer .contact{
			padding: 0 7px;
		}
		.block-left{
			transform: translate(-54%, 2%) rotate(48deg);
		}
		.block-top{
			transform: translate(29%, -54%) rotate(48deg);
		}
		.block-bottom{		
			transform: translate(-17%, 65%) rotate(48deg);
		}
		.block-right{
			transform: translate(67%, -9%) rotate(48deg);
		}
	}
/*#skills*/
  	#skills{
  		padding: 40px 0;
  	}
  	#skills .icon-js{
  		margin: 0 3px; 
  	}
  	#skills .icon-html, #skills .icon-css{
		width: 25px;
  	}
  	#skills .icon-html:after, #skills .icon-css:after{
  		left: 45%;
  		width: 59%;
  	}
  	.skill-item:hover h2{
  		color: rgba(255,255,255, 1);
		text-shadow: 0 4px 4px rgba(255,255,255, .4), 0 0 4px rgba(255,255,255, .3);
  	}
  	.skill-item:hover{
  		outline: 7px solid rgba(255,255,255, .9);
  	}  	
  	.skill-item,
  	.portfolio-box{
  		padding: 20px 0; 
  		background: rgba(0,0,0, .7);
  		outline: 7px solid rgba(255,255,255, .6);
  		overflow: hidden;
  		transition: all ease .5s;
  	}
  	.skill-item{
  		padding: 20px 0 40px;
  	}
  	.skill-item>ul{
  		list-style: none;
  		padding: 15px 0;
  		margin: 0 auto; 
  	}
  	.skill-item>ul>li{
  		cursor: default;
  		position: relative;
  		color: #fff;
  		font-size: 16px;
  		margin: 15px 0; 
  		padding: 8px 10px;
  		background: rgba(0,0,0, .7);
  		outline: 1.5px solid rgba(255,255,255, .7); 
  	}
  	.icon-arrow{		
		margin-right: 5px;		
  	}
/*#portfolio*/
	#portfolio{
		padding: 40px 0;
	}
	.portfolio-box:hover h2{
  		color: rgba(255,255,255, 1);
		text-shadow: 0 4px 4px rgba(255,255,255, .4), 0 0 4px rgba(255,255,255, .3);
  	}
  	.portfolio-box:hover{  		
		outline: 7px solid rgba(255,255,255, .9);
  	}
	.portfolio-section{
		margin: 40px 10px;
		border-radius: 50%/15%;
		padding: 0;
		height: 400px;
		overflow: hidden;
		border: 1.5px solid rgba(255,255,255, .7);
		transition: box-shadow ease .5s;
	}
	.portfolio-section:hover{		
		box-shadow: 0 5px 5px rgba(255,255,255, .7), 0 0 5px rgba(255,255,255, .4);
	}
	.portfolio-section>h3,
	.portfolio-section>span{
		color: #000;
		background: rgba(255,255,255, .7);
		font-size: 18px;
		line-height: 55px;
		margin: 0;
		cursor: default;		
		text-align: center;
	}
	.portfolio-section>span{
		display: block;
		height: 55px;
	}
	.portfolio-item{
		position: relative;
		overflow: hidden;
	}
	.portfolio-prompt{
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;		
		width: 100%;
		height: 100%;		
		background: rgba(0,0,0, .7);
		border: 1.5px solid rgba(255,255,255, .8);		
		transition: all ease 1s;
	}		
	.portfolio-section:nth-child(1) .portfolio-prompt,.portfolio-section:nth-child(4) .portfolio-prompt{
		left: -100%;		
		top: 0;
		border-left: none; 
	} 
	.portfolio-section:nth-child(1):hover .portfolio-prompt,.portfolio-section:nth-child(4):hover .portfolio-prompt{		
		left: 0;
	}
	.portfolio-section:nth-child(2) .portfolio-prompt{
		left: 0;
		top: -100%;
		border-top: none; 
	} 
	.portfolio-section:nth-child(2):hover .portfolio-prompt{		
		top: 0;
	}
	.portfolio-section:nth-child(3) .portfolio-prompt, .portfolio-section:nth-child(6) .portfolio-prompt{
		right: -100%;
		top: 0;
		border-right: none; 
	} 
	.portfolio-section:nth-child(3):hover .portfolio-prompt, .portfolio-section:nth-child(6):hover .portfolio-prompt{		
		right: 0;
	}
	.portfolio-section:nth-child(5) .portfolio-prompt{
		left: 0;
		bottom: -100%;
		border-bottom: none; 
	} 
	.portfolio-section:nth-child(5):hover .portfolio-prompt{		
		bottom: 0;
	}
	.portfolio-text{
		width: 90%;
		padding: 0;
		margin: 0;
	}
	.portfolio-text>li{
		cursor: default;
		margin: 5px 0;		
		color: rgba(255,255,255, .7);
		text-align: center;		
	}
	.portfolio-text>li:nth-child(2){
		font-size: 27px;
		font-family: Arial, Helvetica, sans-serif;
	}
	.icon-bootstrap,.icon-js,.icon-gulp,.icon-sass,.icon-html,.icon-css{
		font-size: 30px;
		line-height: 30px;
		width: 30px;
		height: 30px;
	}
	.icon-bootstrap{
		position: relative;		
		color: #563d7c;		
		z-index: 5;	
	}
	.icon-html{
		color:#ee6535;
		position: relative;
		z-index: 5;
	}
	.icon-css{
		color: #379ad6;
		position: relative;
		z-index: 5;
	}
	.icon-bootstrap:after,.icon-html:after,.icon-css:after{
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		width: 50%;
		height: 70%;
		background: #fff;
		z-index: -1;
		transform: translate(-50%, -50%);
	}
	.icon-js{
		color: #f7df1e;
	}
	.icon-gulp{
		width: 20px;
		color: #e84a4b;
	}
	.icon-sass{
		width: 35px;
		color: #cf649a;
	}
	.portfolio-link{				
		color: rgba(255,255,255, .9);
		font-weight: 600;
	}
	.portfolio-link:hover{
		color: rgba(255,255,255, 1);
    	text-decoration: none;
    	text-shadow: 0 5px 5px rgba(255,255,255, .7), 0 0 5px rgba(255,255,255, .4);
	}
	.icon-sing-in{
		font-size: 20px;
		margin: 0 0 0 5px;
	}
	@media (max-width: 1200px){
		.portfolio-section{		
			height: 370px;
		}
		.portfolio-box .section-js{
		border-bottom: 27px solid rgba(255,255,255, .7);
		}
	}
	@media (max-width: 394px){
		.portfolio-section{		
			height: 310px;
		}
		.portfolio-box .section-js{
		border-bottom: 50px solid rgba(255,255,255, .7);
		}
	}
	.section-js{
		height: 200px;
		border-radius: 25px;
		border-bottom: 15px solid rgba(255,255,255, .7);
	}	
	.section-js .portfolio-text>li{
		font-size: 18px;
	}
	.section-js .portfolio-text>li:first-child{
		color: #fff;
	}
	.icon-font{
		margin: 0 5px;
		font-size: 20px;
	}
	
	.on-up{		
		color: rgba(255,255,255, .9);
		margin-right: 4.4%;
		font-size: 40px;		
	}
	.on-up:hover{
		color: rgba(255,255,255, 1);
		text-shadow: 0 5px 5px rgba(255,255,255, .7), 0 0 5px rgba(255,255,255, .4);
		text-decoration: none;
	}
/*footer*/
	footer{
		background: rgba(0,0,0, .7);
    	padding: 12px 0;
    	margin-bottom: 60px;
	}
	.contact{
		padding: 0;
	}
	.contact-item{
		color: rgba(255,255,255, .9);
		font-size: 18px;
		margin: 1.5px 0; 
	}
	.contact-item:hover, .contact-item:active{
		color: rgba(255,255,255, 1);
		text-shadow: 0 5px 5px rgba(255,255,255, .7), 0 0 5px rgba(255,255,255, .4);
		text-decoration: none;
	}
	.contact-item-tel{
		color: rgba(255,255,255, 1);
		font-size: 18px;
		margin: 1.5px 0;
		cursor: default; 
	}
	

	


	

	